/* CSS Document */

body{padding:0; margin:0; font:12px "돋움", "굴림"; border-bottom:1px solid #c6003d;}
h1,h2,h3,h4,h5,h6,form,p,ul,ol,dl{padding:0; margin:0; list-style:none;}
img{border:none; vertical-align:middle; *vertical-align:top; _vertical-align:top;}

.add_wrap{width:579px; position:relative; margin:0;}
.add_wrap .header{background:#222; height:16px; padding:12px 10px 12px 20px; border-bottom:2px solid #c0003b; overflow:hidden;}
.add_wrap .header h1{float:left; width:90px; height:16px; overflow:hidden;}
.add_wrap .header a{float:right;}

.add_wrap .tab{height:26px; border-bottom:2px solid #db5072; margin:10px 20px 20px 20px;}
.add_wrap .tab li{float:left;}
.add_wrap .tab li a{display:inline-block; cursor:pointer; color:#fff; text-decoration:none; background:url(../images/customer/tab_bg.jpg) no-repeat 0 -26px; height:26px; overflow:hidden; padding-left:5px;}
.add_wrap .tab li a span{height:26px; display:inline-block; background:url(../images/customer/tab_bg.jpg) no-repeat 100% -26px; padding:8px 30px 2px 30px;}
.add_wrap .tab li.active a{display:inline-block; color:#fff; text-decoration:none; background:url(../images/customer/tab_bg.jpg) no-repeat 0 0; height:26px; overflow:hidden; padding-left:5px;}
.add_wrap .tab li.active a span{height:26px; display:inline-block; background:url(../images/customer/tab_bg.jpg) no-repeat 100% 0; padding:8px 30px 2px 30px;}

.add_wrap .section{padding:0 20px;}
.add_wrap .section h2{color:#da0547; font-weight:bold; font-size:13px;}
.add_wrap .section fieldset{border:1px solid #717171; padding:10px 20px; margin-bottom:20px;}
.add_wrap .section fieldset label{width:70px; display:inline-block;}
.add_wrap .section fieldset select{min-width:70px; vertical-align:middle;}
.add_wrap .section fieldset input{vertical-align:middle;}
.add_wrap .section fieldset .inputtext{border:1px solid #dbdbdb; width:250px; height:20px; line-height:20px; padding-left:5px;}
.add_wrap .section fieldset p{margin-top:5px; margin-left:73px; color:#7e7e7e;}

.add_wrap .section .article{margin-bottom:20px;}
.add_wrap .section .article .list{border-top:1px solid #717171; border-bottom:1px solid #c9c9c9; padding:10px 5px; height:85px; overflow-x:hidden; overflow-y:auto;}
.add_wrap .section .article .list li{line-height:150%;}
.add_wrap .section .article .list li a{text-decoration:none; color:#7e7e7e;}
.add_wrap .section .article .list li a:hover{text-decoration:underline; color:#d80647;}

.add_wrap .section .article .detail{border-top:1px solid #717171; border-bottom:1px solid #717171;}
.add_wrap .section .article .detail li{height:35px; border-bottom:1px solid #c9c9c9;}
.add_wrap .section .article .detail li input{vertical-align:middle;}
.add_wrap .section .article .detail li.noline{border-bottom:0;}
.add_wrap .section .article .detail li .inputtext{border:1px solid #dbdbdb; width:350px; height:18px; line-height:20px; padding-left:5px; margin:4px 0;}
.add_wrap .section .article .detail li label{display:inline-block; width:65px; height:35px; line-height:35px; padding-left:10px; background:#f7f7f7; float:left; margin-right:5px;}

.add_wrap div.btn{text-align:center; margin-bottom:10px;}

#modal_overlay, .modal_overlay{position:absolute;left:0; top:0;z-index:10000;width:100%; height:100%; opacity:0.5; filter:alpha(opacity=50); background:#fff; }
#modal_cnt, .modal_cnt{position:absolute;z-index:10002;}
.modal_shadow{box-Shadow:2px 2px 3px #999; -webkit-box-shadow:2px 2px 3px #999; -moz-box-shadow:2px 2px 3px #999}
.modal_outer_shadow{position:absolute; background-color:#999; opacity:0.7; filter:alpha(opacity=70)}
.mask_ifrme{border:none; background:transparent; position:absolute;left:0; top:0;z-index:9999; opacity:0; filter:alpha(opacity=0)}
