#calendarPopup  { position: absolute; visibility: hidden; background-color:rgb(255,255,255); border:1px solid rgb(120,120,120); layer-background-color:rgb(255,255,255); padding:3px 10px; box-shadow:rgba(50,50,50,0.3) 0px 2px 3px; z-index: 10; }
.stylecal       { font-size: 13px; font-family: Arial,'맑은고딕',MalgunGothic,dotum; font-weight:bold; color: #000000; }
.day            { text-align:center; font-size: 12px; font-family: Arial,'맑은고딕',MalgunGothic,dotum; }

.notmonth       { font-size: 8pt; font-family: arial; color: #FFFFFF; line-height: 9pt; }
.futuremonth    { font-size: 8pt; font-family: arial; color: rgb(80,80,80); line-height: 9pt; }
.gray	{font-weight:bold; color: #db5072; }

    A.notmonth:link       { font-size: 11px; font-family: arial; color: #FFFFFF; text-decoration: none; }
    A.notmonth:visited    { font-size: 11px; font-family: arial; color: #FFFFFF; text-decoration: none; }
    A.notmonth:hover      { font-size: 11px; font-family: arial; color: #FFFFFF; text-decoration: none; }
    
    A.stylecal:link       { font-size: 11px; font-family: arial; color: #000000; font-weight:normal; text-decoration: none; }
    A.stylecal:visited    { font-size: 11px; font-family: arial; color: #FFFFFF; font-weight:normal; text-decoration: none; }
    A.stylecal:hover      { font-size: 11px; font-family: arial; color: #db5072; font-weight:normal; text-decoration: none; }
