@charset "utf-8";

@import url('/css/ori/font.css');
html {
	overflow-x:auto;
	overflow-y:scroll; _overflow: scroll !important;
	_overflow-x: auto !important;
	height:100%;
	min-height:100%;
	}

body {
	color:#333;
	font-size:13px;
	font-family: "NotoSansKR","Malgun Gothic","맑은 고딕", "돋움", Dotum, "굴림", Gulim, sans-serif;
	line-height:20px;
	min-height:100%;
	height:100%;
	}
* { margin:0; padding:0; letter-spacing:0px; }
img, fieldset {border:0px; vertical-align:middle;}
legend, caption {visibility:hidden;font-size:0;width:0;height:0;line-height:0;}
table {border-collapse:collapse; border-spacing:0; /* table-layout:fixed; */ font-size:13px;} 
textarea {border: 1px solid #afafaf;  font-size:12px;font-family: "돋움", Dotum, "굴림", Gulim, sans-serif; width:99.8%; padding:10px;}
select, input { vertical-align:middle; font-size:12px; padding:0; margin:0;font-family:Verdana; letter-spacing:-1px !important;}
select {
	height:27px;
	font-size:12px;
	color:#333;
	border: 1px solid #afafaf;
	}
ul, ol, li, dl, dt, dd { list-style: none;}
div, ul, ol, li, dl, dt, dd, form, fieldset, p, h1, h2, h3, h4, h5, h6, blockquote, iframe { margin:0; padding:0; }

a, a:link, a:visited, a:active {color:#333;  text-decoration:none; letter-spacing:normal; }
a:hover { color:#333; text-decoration:underline; letter-spacing:normal;}

.hidden {display:none;}
.hide{visibility:hidden;font-size:0;width:0;height:0;line-height:0;position:absolute;top:-9999px;}
.hidedesc {visibility:hidden;text-indent:-99999px;width:0;height:0;font-size:0;line-height:0;}


p,th {font-weight:400;}
h1, h2, h3, h4, h5, h6 {font-weight:500;}

/* color*/
.body_green .btn_submit { color: #fff; background-color: #4d9278; width: 152px; height: 40px;  display: block; font-weight: normal; border:none; cursor: pointer;}
.body_green .btn_submit:hover {background-color: #555555;}
.body_orange .btn_submit { color: #fff; background-color: #e45e5e; width: 152px; height: 40px;  display: block; font-weight: normal; border:none; cursor: pointer;}
.body_orange .btn_submit:hover {position:relative; background-color: #555555;}
/*
.body_pink .btn_submit { color: #fff; background-color: #db5072; width: 152px; height: 40px;  display: block; font-weight: normal; border:none; cursor: pointer;}
.body_pink .btn_submit:hover {float:center;background-color: #555555;}
.body_pink .btn_submit_g { color: #fff; background-color: #717f9a; width: 152px; height: 40px;  display: block; font-weight: normal; border:none; cursor: pointer;}
.body_pink .btn_submit_g:hover {float:center;background-color: #555555;}
*/
.body_pink .btn_submit { color: #fff; background-color: #331f06; width: 152px; height: 40px;  display: block; font-weight: normal; border:none; cursor: pointer;}
.body_pink .btn_submit:hover {float:center;background-color: #555555;}
.body_pink .btn_submit_g { color: #fff; background-color: #5a3f21; width: 152px; height: 40px;  display: block; font-weight: normal; border:none; cursor: pointer;}
.body_pink .btn_submit_g:hover {float:center;background-color: #555555;}
.body_pink .btn_submit_add { color: #fff; background-color: #4f2f08; width: 152px; height: 40px;  display: block; font-weight: normal; border:none; cursor: pointer;}
.body_pink .btn_submit_add:hover {float:center;background-color: #555555;}

/*2018.02.21 회원가입페이지 추가*/
.SubTit_pink.input {
    clear: both;
    background: none;
	font-size: 14px;
	padding-left: 0px;
	margin: 35px 0px 5px 0px;
}

.body_pink.inputbox{
	background-color: #ffffff;
    padding: 5px 2px 5px 2px !important;
	}



/*2018.02.21 회원가입페이지 추가*/




.body_blue .btn_submit { color: #fff; background-color: #53addd;; width: 152px; height: 40px;  display: block; font-weight: normal; border:none; cursor: pointer;}
.body_blue .btn_submit:hover {background-color: #555555;}
.body_blue .btn_submit_g { color: #fff; background-color: #717f9a; width: 152px; height: 40px;  display: block; font-weight: normal; border:none; cursor: pointer;}
.body_blue .btn_submit_g:hover {float:center;background-color: #555555;}
.body_blue .btn_submit_green { color: #fff; background-color: #74c168; width: 152px; height: 40px;  display: block; font-weight: normal; border:none; cursor: pointer;}
.body_blue .btn_submit_green:hover {float:center;background-color: #555555;}


.body_purple .btn_submit { color: #fff; background-color: #717f9a;; width: 152px; height: 40px;  display: block; font-weight: normal; border:none; cursor: pointer;}
.body_purple .btn_submit:hover {background-color: #555555;}
.btn_submit { color: #fff; background-color: #53addd; width: 152px; height: 40px;  display: block; font-weight: normal; border:none; cursor: pointer;}
.btn_submit:hover {background-color: #555555;}
.btn_submit_g { color: #fff; background-color: #717f9a; width: 152px; height: 40px;  display: block; font-weight: normal; border:none; cursor: pointer;}
.btn_submit_g:hover {float:center;background-color: #555555;}
.btn_submit_orange { color: #fff; background-color: #f56d02; width: 152px; height: 40px;  display: block; font-weight: normal; border:none; cursor: pointer;}
.btn_submit_orange:hover {float:center;background-color: #555555;}
.btn_submit_sky { color: #fff; background-color: #53addd; width: 152px; height: 40px;  display: block; font-weight: normal; border:none; cursor: pointer;}
.btn_submit_sky:hover {float:center;background-color: #555555;}
.btn_submit_pink { color: #fff; background-color: #e45e5e; width: 152px; height: 40px;  display: block; font-weight: normal; border:none; cursor: pointer;}
.btn_submit_pink:hover {float:center;background-color: #555555;}

.btn_submit_b1 { color: #fff; background-color: #49a7dc; width: 152px; height: 40px;  display: block; font-weight: normal; border:none; cursor: pointer;}
.btn_submit_b1:hover {background-color: #555555;}
.btn_submit_b2 { color: #fff; background-color: #3f99d2; width: 152px; height: 40px;  display: block; font-weight: normal; border:none; cursor: pointer;}
.btn_submit_b2:hover {background-color: #555555;}
.btn_submit_b3 { color: #fff; background-color: #2f85c5; width: 152px; height: 40px;  display: block; font-weight: normal; border:none; cursor: pointer;}
.btn_submit_b3:hover {background-color: #555555;}
.btn_submit_b4 { color: #fff; background-color: #1764ae; width: 152px; height: 40px;  display: block; font-weight: normal; border:none; cursor: pointer;}
.btn_submit_b4:hover {background-color: #555555;}
.btn_submit_b5 { color: #fff; background-color: #1460ac; width: 152px; height: 40px;  display: block; font-weight: normal; border:none; cursor: pointer;}
.btn_submit_b5:hover {background-color: #555555;}

.btn_submit_g2 { color: #fff; background-color: #42ad86; width: 152px; height: 40px;  display: block; font-weight: normal; border:none; cursor: pointer;}
.btn_submit_g2:hover {background-color: #555555;}

.btn_submit_red { color: #fff; background-color: #fd1503; width: 152px; height: 40px;  display: block; font-weight: normal; border:none; cursor: pointer;}
.btn_submit_red:hover {background-color: #555555;}

.btn_submit_red2 { color: #fff; background-color: #c80453; width: 152px; height: 40px;  display: block; font-weight: normal; border:none; cursor: pointer;}
.btn_submit_red2:hover {background-color: #555555;}

.btn_submit_green { color: #fff; background-color: #4ccbc2; width: 152px; height: 40px;  display: block; font-weight: normal; border:none; cursor: pointer;}
.btn_submit_green:hover {background-color: #555555;}



/*title*/
.SubTit{clear:both;padding-left:10px;margin:20px 0 5px 0;background:url('../images/common/bg_stit_pink.gif') no-repeat 0 2px;}

.SubTit_green {    clear: both;    padding-left: 0px !important;    margin: 20px 0 5px 0;   background: none !important;}
/*.SubTit_green{clear:both;padding-left:10px;margin:20px 0 5px 0;background:url('../images/common/bg_stit_green.gif') no-repeat 0 2px;}*/
.SubTit_green span{float:right;font-size:12px;}

.SubTit_orange{clear:both;padding-left:10px;margin:20px 0 5px 0;background:url('../images/common/bg_stit_orange.gif') no-repeat 0 2px;}

.SubTit_pink{clear:both;padding-left:10px;margin:20px 0 5px 0;background:url('../images/common/bg_stit_pink.gif') no-repeat 0 2px;}
.SubTit_pink span{float:right;font-size:12px;}

/*
.SubTit_blue{
	clear:both;
	padding-left:10px;
	margin:20px 0 5px 0;
	background:url('../images/common/bg_stit_blue.gif') no-repeat 0 2px;}
	*/

.SubTit_blue {
    clear: both;
    padding-left: 0px !important;
    margin: 20px 0 5px 0;
   background: none !important;
}

.SubTit_blue span{float:right;font-size:12px;}
.SubTit_blue strong{font-size:14px;color:#333;} 
.SubTit_purple{clear:both;padding-left:10px;margin:20px 0 5px 0;background:url('../images/common/bg_stit_purple.gif') no-repeat 0 2px;}

.myPageName.join {
	margin: 11px 0px 20px 0px;
	padding: 20px 0px 5px 0px;
	border-bottom: 1px solid #e5e5e5 !important;
	background: none;
}
.myPageName.join strong {
	font-size: 15px; 
	font-weight: 500;   
	color: #000;
}

.SubTit_pink.join {
		clear: both;
		padding-left: 10px;
		margin: 20px 0 0px 0px !important;
		background: none;
		color: #333333 !important;
		border-top: 2px solid #4f2f08;
		height: 48px;
		line-height: 48px;
		border-left: 1px solid #cccccc;
		border-right: 1px solid #cccccc;
		background-color: #f7f7f7;
}

.subCon_tb_pink.join{
	 border-bottom:none !important;
	 border-top:none !important;
 }

/* png*/
.png24 {
  tmp:expression(setPng24(this));
}

/* Layout */
hr { display:none; clear:both; }
th, td { border-collapse:collapse; }

input[type=text],
input[type=password]
/*,input[type=number]*/
{
	font-size:12px;
	padding:5px 2px 5px 2px;
	border: 1px solid #afafaf;
	color:#333;
	font-family:Verdana; letter-spacing:-1px !important;
}

input[type=checkbox] { margin-right:2px;}
input[type=radio] {margin-right:2px;}



.search_box .key_point {color:#555a75;} /* 검색 */


/*input.in_text    {height:16px; padding:2px 2px 2px; border:1px solid #a8a8a8; border-right-color:#e1e1e1; border-bottom-color:#e1e1e1; color:#4c4c4c; font-family:'Verdana',dotum, sans-serif; font-size:12px; line-height:1.3}*/
input.in_text   {  /* height: 21px; */ padding: 5px 2px 5px 2px; border: 1px solid #a8a8a8;   /* border-right-color: #e1e1e1; */    /* border-bottom-color: #e1e1e1; */ color: #4c4c4c; font-family: 'Verdana',dotum, sans-serif; font-size: 12px; line-height: 1.3;}

input.in_text:focus,
input.in_text_on	 {height:16px; padding:2px 2px 2px; background:#fff; border:1px solid #c80453; color:#4c4c4c; font-family:'Verdana',dotum, sans-serif; font-size:12px; line-height:1.3}


input.txt    {height:16px; padding:4px 8px 2px; border:1px solid #a8a8a8; border-right-color:#e1e1e1; border-bottom-color:#e1e1e1; color:#4c4c4c; font-family:'돋움',dotum, sans-serif; font-size:12px; line-height:1.3}
input.txt:focus,
input.txt_on	 {height:16px; padding:4px 8px 2px; background:#fff; border:1px solid #c80453; color:#4c4c4c; font-family:'돋움',dotum, sans-serif; font-size:12px; line-height:1.3}

input.nor    {height:16px; padding:7px 8px 6px; background:url('/twd/img/common/bg_input.png') no-repeat; border:1px solid #a8a8a8; border-right-color:#e1e1e1; border-bottom-color:#e1e1e1; color:#4c4c4c; font-family:'돋움',dotum, sans-serif; font-size:12px; line-height:1.3}
input.nor:focus,
input.nor_on	{height:16px; padding:7px 8px 6px; background:#fff; border:1px solid #ff771d; color:#4c4c4c; font-family:'돋움',dotum, sans-serif; font-size:12px; line-height:1.3}

input.txt_r    {height:16px; padding:4px 8px 2px; border:1px solid #a8a8a8; border-right-color:#e1e1e1; border-bottom-color:#e1e1e1; color:#4c4c4c; font-family:'돋움',dotum, sans-serif; font-size:12px; text-align:right; line-height:1.3}
input.txt_r:focus,
input.txt_r_on	 {height:16px; padding:4px 8px 2px; background:#fff; border:1px solid #ff771d; color:#4c4c4c; font-family:'돋움',dotum, sans-serif; font-size:12px; text-align:right; line-height:1.3}
input.chk    {margin:0 3px 0 5px; border:0 none; vertical-align:middle}

textarea	{padding:10px; border:1px solid #a8a8a8; border-right-color:#cccccc; border-bottom-color:#e1e1e1; color:#4c4c4c; ; font-family:'돋움',dotum, sans-serif; font-size:12px; line-height:1.5; resize:none; overflow-y:scroll}
textarea.in_text	{padding:10px; border:1px solid #a8a8a8; border-right-color:e1e1e1; border-bottom-color:#e1e1e1; color:#4c4c4c; ; font-family:'돋움',dotum, sans-serif; font-size:12px; line-height:1.5; resize:none; overflow-y:scroll}
textarea.in_text:focus,
textarea.in_text_on	{padding:10px; background:#fff; border:1px solid #c80453; color:#4c4c4c;  ; font-family:'돋움',dotum, sans-serif; font-size:12px; line-height:1.5; resize:none; overflow-y:scroll}


select    {color:#4c4c4c; font-family:'돋움',dotum, sans-serif; font-size:12px;}
iframe.frame {width:100%; overflow:hidden;}

input.eng	{ime-mode:disabled;}



/* display */
.block{display:block !important;}
.none, .hidden{display:none !important;}
.inline{display:inline !important;}
.in_block{display:inline-block !important;}


/* 공통color */
.pointGray {color:#333   !important;} /* gray */
.pointGray1 {color:#333   !important;} /* gray */
.pointRed {color:#555a75 !important;} /* red */

/* font */
.fontw  {font-size:12px;color:#ffffff;font-weight:bold; }
/*.font00  {font-size:12px;color:#c80453;font-weight:bold; }*/
.font00 {    font-size: 13px;    color: #ff1100;    font-weight: bold;    padding-left: 5px;}
.font00b  {font-size:16px;color:#c80453;font-weight:bold; }
.font16b  {font-size:16px;color:#000000;font-weight:bold; }
.font14b  {font-size:14px;color:#000000;font-weight:bold; }
.font16bp  {font-size:18px;color:#c80453;font-weight:bold; }
.font20bp  {font-size:20px;color:#c80453;font-weight:bold; }
.font22bp  {font-size:22px;color:#c80453;font-weight:bold; }
.font15  {font-size:15px;color:#000000; }
.font_green  {font-size:12px;color:#809837;font-weight:bold; }
/*.font001  {font-size:12px;color:#c80453;font-weight:bold; }*/
.font001 {    font-size: 12px;    color: #75350e;    font-weight: bold;	line-height: 16px;}
.font002  {font-size:12px;color:#00A500;font-weight:bold; }
.font01  {font-size:12px;color:#2962d0;font-weight:bold; }
.font02  {font-size:12px;color:#00A500;font-weight:bold; }
.font01big  {font-size:18px;color:#2962d0;font-weight:bold; }
.font11  {font-size:11px; }
.font12p  {font-size:12px;color:#c80453; }
.font12pb  {font-size:12px;color:#c80453;font-weight:bold; }
.font12g  {font-size:12px;color:#809837; }
.font12gb  {font-size:12px;color:#809837;font-weight:bold; }
.font12b  {font-size:12px;color:#2962d0; }
.font12bb  {font-size:12px;color:#2962d0;font-weight:bold; }
.font12  {font-size:12px !important; }
.fnone {float:none !important; }
.fleft {float:left !important; }
.fright {float:right !important; }
.font09  {font-size:12px;color:#D71B60;font-weight:bold; }

.tbl_line {border-bottom:1px solid #d2d2d2; }

.tx_lt {text-align:left !important;}
.tx_ct {text-align:center !important;}
.tx_rt {text-align:right !important;}
.va_t {vertical-align:top !important;}
.va_m {vertical-align:middle !important;}
.va_b {vertical-align:bottom !important;}

.ls {letter-spacing:normal !important;}
.ls01 {letter-spacing:-1px !important;}

.lh15 {line-height:15px !important;}
.lh18 {line-height:18px !important;}

.strong {color:#c80453;}

.clear {clear:both;}

.over_h {overflow:hidden;}
.over_s {overflow:scroll; overflow-x:hidden; }

.bg_none{background:none !important;}

.words {word-spacing:normal;}
.fw {font-weight:normal;}
.normal {font-weight:normal !important;}
.bold{font-weight:bold !important;}

.underline {text-decoration:underline !important;}
.thr{text-decoration:line-through;}

em {font-style:normal;}

/* 버튼위치*/
.btnb {overflow:hidden; width:100%;}
.btnl {position:relative; text-align:left;}
.btnr {position:relative; text-align:right;}
.btnc {position:relative; text-align:center;}


.btn_Area{overflow:hidden;width:100%;border-top:1px solid #e4e4e4;margin-top:65px;padding-top:20px;}
.btn_Area	.btn_left{float:left;}
.btn_Area	.btn_center{float:center;}
.btn_Area	.btn_right{float:right;}

.interest {overflow:hidden; width:100%;border-top:0;padding:0;margin-top:26px;}
.interest .btn_left1{float:left;}
.interest .btn_center1{float:center;}
.interest .btn_right1{float:right;}

/* display */
.block{display:block !important;}
.none{display:none !important;}
.inline{display:inline !important;}
.inlineblock{display:inline-block !important;}

.bd0{border:0 !important;}
.bdtdt{border-top:1px dotted #ccc}

/* 공통margin */
.mg0 {margin:0 !important;}
.mgt0 {margin-top:0 !important;}
.mgt1 {margin-top:1px !important;}
.mgt3 {margin-top:3px !important;}
.mgt5 {margin-top:5px !important;}
.mgt7 {margin-top:7px !important;}
.mgt8 {margin-top:8px !important;}
.mgt10 {margin-top:10px !important;}
.mgt11{margin-top:11px !important;}
.mgt12{margin-top:12px !important;}
.mgt13{margin-top:13px !important;}
.mgt15 {margin-top:15px !important;}
.mgt20 {margin-top:20px !important;}
.mgt25 {margin-top:25px !important;}
.mgt30 {margin-top:30px !important;}
.mgt40{margin-top:40px !important;}
.mgt50 {margin-top:50px !important;}
.mgt60{margin-top:60px !important;}
.mgt70 {margin-top:70px !important;}
.mgt75 {margin-top:75px !important;}
.mgt85 {margin-top:85px !important;}


.mgl0 {margin-left:0px !important;}
.mgl1 {margin-left:1px !important;}
.mgl3 {margin-left:3px !important;}
.mgl5 {margin-left:5px !important;}
.mgl10 {margin-left:10px !important;}
.mgl14 {margin-left:14px !important;}
.mgl20 {margin-left:20px !important;}
.mgl30 {margin-left:30px !important;}
.mgl35 {margin-left:35px !important;}
.mgl40 {margin-left:40px !important;}
.mgl50 {margin-left:40px !important;}

.mgr5 {margin-right:5px !important;}
.mgr9 {margin-right:9px !important;}
.mgr10 {margin-right:10px !important;}
.mgr15 {margin-right:15px !important;}
.mgr12{margin-right:12px !important;}
.mgr20{margin-right:20px !important;}
.mgr24{margin-right:24px !important;}

.mgb0 {margin-bottom:0 !important;}
.mgb1 {margin-bottom:1px !important;}
.mgb5 {margin-bottom:5px !important;}
.mgb10 {margin-bottom:10px !important;}
.mgb17{margin-bottom:17px !important;}
.mgb20 {margin-bottom:20px !important;}
.mgb25 {margin-bottom:25px !important;}
.mgb33{margin-bottom:33px !important;}
.mgb37{margin-bottom:37px !important;}
.mgb40{margin-bottom:40px !important;}

/* 공통padding*/
.pd0 {padding:0 !important;}
.pdt0 {padding-top:0 !important;}
.pdt3 {padding-top:3px !important;}
.pdt5 {padding-top:5px !important;}
.pdt10 {padding-top:10px !important;}
.pdt15 {padding-top:15px !important;}
.pdt20 {padding-top:20px !important;}
.pdt25 {padding-top:25px !important;}
.pdt30 {padding-top:30px !important;}

.pdl0 {padding-left:0 !important;}
.pdl5 {padding-left:5px !important;}
.pdl10 {padding-left:10px !important;}
.pdl20 {padding-left:20px !important;}
.pdl24 {padding-left:24px !important;}
.pdl25 {padding-left:25px !important;}
.pdl30 {padding-left:30px !important;}
.pdl35 {padding-left:35px !important;}
.pdl40 {padding-left:40px !important;}
.pdl80 {padding-left:80px !important;}

.pdr5 {padding-right:5px !important;}
.pdr10 {padding-right:10px !important;}
.pdr15 {padding-right:15px !important;}
.pdr20 {padding-right:20px !important;}
.pdr25 {padding-right:25px !important;}

.pdb5 {padding-bottom:5px !important;}
.pdb10 {padding-bottom:10px !important;}
.pdb15 {padding-bottom:15px !important;}
.pdb20 {padding-bottom:20px !important;}
.pdb25 {padding-bottom:25px !important;}
.pdb30 {padding-bottom:30px !important;}

/* width */

.width52{width:52px !important;}
.width63{width:63px !important;}
.width85{width:85px !important;}
.width125{width:125px !important;}
.width145{width:145px !important;}
.width230{width:230px !important;}


/* 회원정보수정*/
/*
.myPageName{
	margin:26px 0 30px 0;
	padding:0 0 5px 12px;
	border-bottom:1px solid #e5e5e5;
	background:url('../images/common/bl_redarr.gif') no-repeat 0 5px;}
.myPageName strong{font-size:14px;color:#333;} 
*/
.myPageName {
    margin: 26px 0 30px 0;
    padding: 0px 0px 5px 0px;
    border-bottom: 1px solid #e5e5e5;
    background: none !important;
}

.myPageName strong {
	font-size: 15px; 
	font-weight: 500;   
	color: #000;
	}

.myPageName p {font-size:13px;padding: 5px 0px 0px 0px;}
.myPageName h1{float:left;font-size:14px;color:#333;} 
.myPageName a{float:right;}
.myPageName input{float:right;}

.myPageNamePrint{
	margin:16px 0 10px 0;
	padding:0 0 5px 12px;
	border-bottom:1px solid #e5e5e5;
	background:url('../images/common/bl_redarr.gif') no-repeat 0 5px;}
	myPageNamePrint strong{font-size:14px;color:#333;} 
	myPageNamePrint h1{float:left;font-size:14px;color:#333;} 
	myPageNamePrint a{float:right;}
	myPageNamePrint input{float:right;}


.left_menu_subcontents {clear: both; padding: 20px 0px 20px 00px;}
.left_menu {width: 185px; float: left; padding-bottom: 30px;}
.left_menu li {height: 35px; line-height: 35px; padding-left: 10px; position: relative;-webkit-transition: all 0.1s ease-in;-ms-transition: all 0.1s ease-in;}
.left_menu li a {display: block; height: 35px; line-height: 35px;}
.left_menu li a:hover {text-decoration: none;}
.left_menu_dot {position: absolute; width: 6px; height: 9px; background: url(../images/left_dot.png) no-repeat; display: block; right: 10px; top: 13px;}

.body_web .left_menu li {border-bottom: 1px solid #dae0ea;}
.body_web .left_menu li:hover {background: #dae0ea ;text-decoration: none;}
.body_web .left_menu .left_menu_active {background: #6e7d9a !important;}
.body_web .left_menu .left_menu_active a {color: #fff;}
.body_web .left_menu .left_menu_active .left_menu_dot {display: none;}
.body_web .contents_table table {width: 100%; border-collapse: collapse;}
.body_web .contents_table th {background: #6e7d9a; color: #fff; width: 150px; padding: 10px 10px; text-align: left;}
.body_web .contents_table td {padding: 10px 10px; text-align: left;}

.body_pink .left_menu li {border-bottom: 1px solid #dae0ea;}
.body_pink .left_menu li:hover {background: #dae0ea ;text-decoration: none;}
.body_pink .left_menu .left_menu_active {background: #6e7d9a !important;}
.body_pink .left_menu .left_menu_active a {color: #fff;}
.body_pink .left_menu .left_menu_active .left_menu_dot {display: none;}
.body_pink .contents_table table {width: 100%; border-collapse: collapse;}
.body_pink .contents_table th {background: #6e7d9a; color: #fff; width: 150px; padding: 10px 10px; text-align: left;}
.body_pink .contents_table td {padding: 10px 10px; text-align: left;}



.body_smartmd .left_menu li {border-bottom: 1px solid #fadfe5;}
.body_smartmd .left_menu li:hover {background: #fadfe5;text-decoration: none;}
.body_smartmd .left_menu .left_menu_active {background: #db5072 !important;}
.body_smartmd .left_menu .left_menu_active a {color: #fff;}
.body_smartmd .left_menu .left_menu_active .left_menu_dot {display: none;}
.body_smartmd .contents_table table {width: 100%; border-collapse: collapse;}
.body_smartmd .contents_table th {color: #656c72; width: 150px; padding: 10px 10px; text-align: center;}
.body_smartmd .contents_table td {padding: 10px 10px; text-align:center;}
.body_smartmd .contents_table .color {color: #db5072; font-size:12px;}


/*  공통 탭 */
ul.common_tab {width:100%;height:30px; margin:21px 20px 0 0; border-bottom:2px  solid #555a75;}
ul.common_tab li{float:left; /*display:inline-block;*/ }
ul.common_tab li.frist{float:left;border-left:1px solid #cccccc; /*display:inline-block;*/ }
ul.common_tab li a{ 
	display:inline-block;
	padding-left:21px;
	padding-right:21px;
	height:29px;
	line-height:30px;
	letter-spacing:-1px;
	text-align:;
	font-weight:bold;
	text-decoration:none;
	background:#fafafa;
	border-top:1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:none;}
ul.common_tab li a:hover {color:#222;} 
ul.common_tab li.active a {height:30px;border:2px solid #555a75;; border-bottom:none; background:#fff; color:#555a75; letter-spacing:-1px;}
ul.common_tab input{float:right;}

.edit_item {font-weight: initial;line-height: 1.6;font-size: 13px;color: #333;letter-spacing:  initial;word-wrap: break-word;font-family: sans-serif, Arial, Verdana, "Trebuchet MS";}
.edit_item p {margin: 1em 0;}
.edit_item em {font-style: italic;}