@charset "utf-8"; 
/****************** 냉난방시스템 *****************/
/* 냉난방 index */
.coolingBox { overflow:hidden; border:1px solid #cfcfcf; border-top:none;padding:0 40px 0 40px;}
	dl.coolingTitbox {overflow:hidden; margin:40px 0 0 0; height:176px; padding:0 0 25px 256px ; border-bottom:1px solid #e4e4e4; background:url('../images/cooling/bg_cooling.gif') 20px 0 no-repeat;}
	dl.coolingTitbox dd{margin-top:10px;}
	dl.coolingTitbox dd a{width:81px;margin-top:20px;display:block;}

	ul.colingProinfo { overflow:hidden;  margin-top:20px; padding-bottom:30px; border-bottom:1px solid #e4e4e4; }
	ul.colingProinfo li{float:left; width:111px; height:120px; border-left:1px solid #e4e4e4;text-align:center;}
	ul.colingProinfo li span {display:block; margin-top:20px;}
	ul.colingProinfo li:first-child  {border-left:0px;}

	.eduCenterbox { width:448px; height:320px; border-right:1px solid #e4e4e4; float:left;}
		dl.eduCenteinfo { overflow:hidden; margin-top:30px; height:166px; width:410px;}
		dl.eduCenteinfo dt img {float:left; margin-right:20px;}
		dl.eduCenteinfo dt a  {display:inline-block; font-weight:bold; font-size:14px;}
		dl.eduCenteinfo dd {float:left; margin-top:20px; line-height:18px;}

	.colMarketbox {float:left; margin-left:20px;}
		ul.colMarketinfo {margin-top:30px;overflow:hidden;}
		ul.colMarketinfo li{ overflow:hidden; float:left; width:129px; height:165px; border-left:1px solid #e4e4e4; text-align:center;}
		ul.colMarketinfo li span {display:block; height:35px; margin-top:8px; line-height:14px; }
		ul.colMarketinfo li:first-child {border-left:0px;}

/*************************** 커머셜디스플레이 ********************************/
.commerConArea{overflow:hidden;border:1px solid #cfcfcf;border-top:none;}
	.commerConBox{float:left;width:265px;height:700px;padding:40px 30px 0 30px;border-right:1px solid #cfcfcf;}
	.commerConList{height:255px;}
	.commerCon01{background:url('../images/commercial/bg_commer_digital.gif') no-repeat 105px 120px;}
	.commerCon02{background:url('../images/commercial/bg_commer_tv.gif') no-repeat center 120px;}
	.commerCon03{background:url('../images/commercial/bg_commer_peripheral.gif') no-repeat center 100px;}
	.commerConList .btnl{padding-top:96px;}

	.commerProduct{padding-top:38px;border-top:1px solid #e4e4e4;}
		.commerList{padding-left:80px;margin-top:34px;}
			.digitalList01{margin-top:0px;background:url('../images/commercial/bg_commer_digital_list01.gif') no-repeat 0 0;}
			.digitalList02{background:url('../images/commercial/bg_commer_digital_list02.gif') no-repeat 0 0;}
			.digitalList03{background:url('../images/commercial/bg_commer_digital_list02.gif') no-repeat 0 0;}
			.digitalList04{background:url('../images/commercial/bg_commer_digital_list04.gif') no-repeat 0 0;}
			.digitalList05{background:url('../images/commercial/bg_commer_digital_list05.gif') no-repeat 0 0;}

			.tvList01{margin-top:0;background:url('../images/commercial/bg_commer_tv_list01.gif') no-repeat 0 0;}
			.tvList02{background:url('../images/commercial/bg_commer_tv_list02.gif') no-repeat 0 0;}
			.tvList03{background:url('../images/commercial/bg_commer_tv_list03.gif') no-repeat 0 0;}

			.peripheralList01{margin-top:0;background:url('../images/commercial/bg_commer_peripheral_list01.gif') no-repeat 0 0;}
			.peripheralList02{background:url('../images/commercial/bg_commer_peripheral_list02.gif') no-repeat 0 0;}
			.peripheralList03{background:url('../images/commercial/bg_commer_peripheral_list03.gif') no-repeat 0 0;}

			dl.commerContxt {border-left:1px solid #ebebeb; padding-left:20px;line-height:16px;}
			dl.commerContxt dt a {display:block;color:#4d4d4d; font-weight:bold; padding-bottom:5px;font-family: "맑은 고딕";font-size:13px;}

/* 디지털사이니지 */
.insignTitbox {overflow:hidden; height:205px; margin-bottom:30px; background:url('../images/signage/in_titbox.gif') 0 0 no-repeat;}
	dl.signTitbox { padding:20px 0 0 355px; height:198px; background:url('../images/signage/bg_signa.gif') 20px 0 no-repeat;}
	dl.signTitbox dd{margin-top:10px;}
	dl.signTitbox dd span {display:block; margin-top:10px;}
	dl.signTitbox dd a{display:inline-block; margin-top:10px;}

ul.signProlist {overflow:hidden;margin-left:30px; margin-top:30px; margin-bottom:35px;}
ul.signProlist li {float:left; width:183px; text-align:center; }
ul.signProlist li span {width:183px; height:99px; display:block; border-right:1px solid #e4e4e4; padding-top:-20px;}
ul.signProlist li span.last {border-right:0px; }
ul.signProlist li a {display:inline-block; font-weight:bold; line-height:14px;}

.signageBox { overflow:hidden; border:1px solid #e4e4e4;}
	.etctop01 {margin:40px; background:url("../images/common/bg_top_dashed.gif") repeat-x 0 5px; text-align:right;}
	.etctop02 {margin:40px; text-align:right;}

.signVideobox {position:relative;}
	.signVideo {position:absolute; top:40px; left:39px;}

/******************** IT *************************/
.itProduct01_Area {padding:30px 20px 40px 20px;border-left:1px solid #cfcfcf;border-right:1px solid #cfcfcf;}
	ul.itProduct01{overflow:hidden;/*margin:44px 5px 0 5px;*/margin-top:44px;}
	ul.itProduct01 li{float:left;padding-left:1px;background:url('../images/it/bg_it_line.gif') no-repeat left 16px;}
	ul.itProduct01 li:first-child{background:none;}

.itProduct02{overflow:hidden;/*margin-top:39px;*/border:1px solid #cfcfcf;}/* 컨텐츠 위치 변경에 따라 border-right 변경해 주어야 합니다. */
	.itProduct02 .security{
		float:left;
		width:297px;
		height:220px;
		padding:39px 0 0 28px;
		background:url('../images/it/bg_security.gif') no-repeat 211px 49px;}
	.itProduct02 .computer{
		float:left;
		width:297px;
		height:220px;
		padding:39px 0 0 28px;
		border-right:1px solid #e4e4e4;
		background:url('../images/it/bg_computer.gif') no-repeat 180px 20px;}
	.itProduct02 .cloud{
		float:left;
		width:297px;
		height:220px;
		padding:39px 0 0 28px;
		border-right:1px solid #e4e4e4;
		background:url('../images/it/bg_cloud.gif') no-repeat 196px 51px;}
	.itProduct02 .solution{
		float:left;
		width:297px;
		height:220px;
		padding:39px 0 0 28px;
		border-right:1px solid #e4e4e4;
		background:url('../images/it/bg_solution.gif') no-repeat 216px 43px;}

ul.itProduct03{overflow:hidden;height:236px;padding:42px 58px 0 56px;margin-top:20px;border:1px solid #cfcfcf;}
ul.itProduct03 li{float:left;text-align:center;width:190px;margin-left:34px;}
ul.itProduct03 li:first-child{margin-left:0;}
ul.itProduct03 li a img.product{width:120px;height:100px;}
ul.itProduct03 li a strong{display:block;color:#333;line-height:17px;height:34px;}
/* ul.itProduct03 li a em{display:block;} */
.itproductImgArea{height:125px;}/* 텍스트 시작점 마추기 위한 헤이트 */
.itproductImgArea img{height:108px;}/* 이미지 헤이트 고정 */


ul.itProduct04{overflow:hidden;margin-top:50px;border:1px solid #cfcfcf;background:#f8f8f8;} 
ul.itProduct04 li{float:left;background:#f8f8f8;}


/**************************** 수업 솔루션 *************************************/

	dl.lessonTitBox { padding:20px 0 0 355px; height:174px; background:url('../images/it/bg_lesson01.gif') no-repeat 20px 0;}
	dl.lessonTitBox dd{margin-top:10px;}
	dl.lessonTitBox dd span {display:block; margin-top:10px;}
	dl.lessonTitBox dd a{display:inline-block; margin-top:10px;}



/************************* 주방/생활가전 ******************************/
.appliancesProduct01{overflow:hidden; padding-top:22px; margin:0 39px 0 39px;}
.appliancesProduct01 li {float:left;padding-left:1px;background:url('../images/appliances/bg_appliances_line.gif') repeat-y left 10px;}
.appliancesProduct01 li:first-child {background-image:none;}

.appliancesProduct02{overflow:hidden;border:1px solid #cfcfcf;border-top:none;height:890px;}
	.AppliancesListBox{float:left; width:265px;height:939px;padding:39px 30px 0 30px;border-left:1px solid #cfcfcf;}
	.AppliancesListBox:first-child{border-left:none;}
	.AppliancesListBox .btn {position:relative;/*position:absolute;/*position:relative;*/bottom:90px;height:10px;}
		.appliancesProduct{height:790px;margin-top:20px;padding-top:36px;border-top:1px solid #e4e4e4;}
		.appliancesList{padding-left:80px;}
		.kitchenList01{background:url('../images/appliances/bg_kitchenList01.gif') no-repeat 0 0;}
		.kitchenList02{margin-top:29px;background:url('../images/appliances/bg_kitchenList02.gif') no-repeat 0 0;}
		.kitchenList03{margin-top:37px;background:url('../images/appliances/bg_kitchenList03.gif') no-repeat 0 0;}
		.kitchenList04{margin-top:37px;background:url('../images/appliances/bg_kitchenList04.gif') no-repeat 0 0;}
		.kitchenList05{margin-top:31px;background:url('../images/appliances/bg_kitchenList05.gif') no-repeat 0 0;}
		.kitchenList06{margin-top:30px;background:url('../images/appliances/bg_kitchenList06.gif') no-repeat 0 0;}/* 업소용 냉장고 */

		.livingList01{height:72px;margin-top:8px;padding-bottom:19px;background:url('../images/appliances/bg_livingList01.gif') no-repeat 0 0;}
		.livingList02{height:72px;margin:0;padding-bottom:15px;background:url('../images/appliances/bg_livingList02.gif') no-repeat 0 0;}
		.livingList03{height:67px;margin:0;padding-bottom:20px;background:url('../images/appliances/bg_livingList03.gif') no-repeat 0 0;}
		.livingList04{height:64px;margin:0;padding-bottom:30px;background:url('../images/appliances/bg_livingList04.gif') no-repeat 0 0;}
		.livingList05{height:48px;margin:0;padding-bottom:47px;background:url('../images/appliances/bg_livingList05.gif') no-repeat 0 0;}
		.livingList06{height:54px;margin:0;background:url('../images/appliances/bg_livingList06.gif') no-repeat 0 0;}

		dl.appliancesContxt {border-left:1px solid #e4e4e4; padding-left:20px;line-height:16px;}
		dl.appliancesContxt dt a {display:block;color:#4d4d4d; font-weight:bold;font-size:13px; padding-bottom:5px;font-family: "맑은 고딕";}

.builtinListBox{padding-top:26px;border-top:1px solid #e4e4e4;}
.builtinList{position:relative;margin-top:40px;}
.builtinList dt{color:#4d4d4d; font-weight:bold;font-size:13px; padding-bottom:5px;font-family: "맑은 고딕";}
.builtinList dd{line-height:16px;margin-top:5px;}
.builtinList dd.builtin01 a img{display:block;margin-bottom:10px;}




/********************************* 에너지 *******************/
/* 에너지 index */
.energyBox { overflow:hidden; border:1px solid #cfcfcf; border-top:none;}
.energyBox .energylist {padding:0 0 0 40px; float:left; width:448px; border-left:1px solid #cfcfcf;}
.energyBox .energylist:first-child { border-left:0px;}

dl.energTopbox{overflow:hidden; height:169px; padding:0 0 30px 165px ; margin:50px 30px 40px 0; border-bottom:1px solid #e4e4e4;}
dl.bg_engsun {background:url('../images/energy/bg_engsun.gif') 0 0 no-repeat;}
dl.bg_englight {background:url('../images/energy/bg_englight.gif') 0 0 no-repeat;}
dl.energTopbox dd{margin-top:10px;}
dl.energTopbox dd a{width:81px;margin-top:20px;display:block;}

h3.titEnergy {margin-top:40px;}

.energConbox {overflow:hidden; padding-bottom:50px;}
	.energConlist{padding-left:86px; margin-top:35px;}
		.bg_engsun01 {background:url('../images/energy/bg_engsun01.gif') 0 0 no-repeat;height:63px;}
		.bg_engsun02 {background:url('../images/energy/bg_engsun02.gif') 0 0 no-repeat;height:80px;}
		.bg_engsun03 {background:url('../images/energy/bg_engsun03.gif') 6px 0 no-repeat;height:63px;}
		.bg_engsun04 {background:url('../images/energy/bg_engsun04.gif') 0 bottom no-repeat;height:46px;}

		.bg_englight01 {background:url('../images/energy/bg_englight01.gif') 0 0 no-repeat;height:60px; padding-top:5px;}
		.bg_englight02 {background:url('../images/energy/bg_englight02.gif') 0 0 no-repeat;height:76px;}
		.bg_englight03 {background:url('../images/energy/bg_englight03.gif') 0 0 no-repeat;height:75px;padding-top:5px;}
		.bg_englight04 {background:url('../images/energy/bg_englight04.gif') 0 0 no-repeat;height:60px; padding-top:5px;}
		.bg_englight05 {background:url('../images/energy/bg_englight05.gif') 0 0 no-repeat;height:60px; padding-top:5px;}

		dl.energContxt {border-left:1px solid #e4e4e4; padding-left:20px;line-height:16px;}
		dl.energContxt dt {color:#4d4d4d; font-weight:bold; margin:0 0 5px 0;font-family: "맑은 고딕";font-size:13px;}
		dl.energContxt dt em {color:#4d4d4d; margin:0 6px 0 0;font-family: "맑은 고딕";font-size:13px;}

ul.energSkillBox {margin:34px 0 0 0; overflow:hidden; border-left:1px solid #e4e4e4;}
ul.energSkillBox li {float:left; width:220px; height:170px; margin:0 0 0 23px; border-right:1px solid #e4e4e4;}
ul.energSkillBox li img {display:block; margin-bottom:15px;}
ul.energSkillBox li span {line-height:16px;}
ul.energSkillBox li.bg_Skill01 { background:url('../images/energy/bg_energskill01.gif') right bottom no-repeat;}
ul.energSkillBox li.bg_Skill02 { background:url('../images/energy/bg_energskill02.gif') right bottom no-repeat;}
ul.energSkillBox li.bg_Skill03 { background:url('../images/energy/bg_energskill03.gif') right bottom no-repeat;}
ul.energSkillBox li.bg_Skill04 { background:url('../images/energy/bg_energskill04.gif') right bottom no-repeat;}

/* 태양광 index */

h4.titSolar {margin-top:30px;}
.inenergyTitbox {overflow:hidden; height:205px; background:url('../images/solar/in_titbox.gif') 0 0 no-repeat;}
	dl.inEnergytit {padding-left:357px; padding-top:15px;}
		.bg_solaTit {background:url('../images/solar/bg_insolar.gif') 25px 10px no-repeat; padding-bottom:20px; height:205px;} /* 태양광 */
		.bg_lightTit {background:url('../images/lighting/bg_lightTit.gif') 25px 0px no-repeat; } /* 조명 */
	dl.inEnergytit dd {margin-top:18px;}
	dl.inEnergytit dd span {display:block; margin-top:10px;}
	dl.inEnergytit dd a {display:inline-block; margin-top:10px;}

.solaconTopbox {overflow:hidden; margin-top:30px; height:192px; border:1px solid #e4e4e4; border-bottom:none;}
	.solaLink { float:left; width:295px; height:192px; padding:0 0 0 30px; border-left:1px solid #e4e4e4;}
	.solaLink:first-child  {border-left:0px;}
	.solaLink p {margin-top:16px; height:90px; padding-left:111px;}
	.solaLink p.bg_solaLink01 {background:url('../images/solar/bg_solar_guide.gif') 0 0 no-repeat;}
	.solaLink p.bg_solaLink02 {background:url('../images/solar/bg_home_electric.gif') 0 0 no-repeat;}
	.solaLink p.bg_solaLink03 {background:url('../images/solar/bg_solar_simulation.gif') 0 0 no-repeat;}

.solaconbotbox {overflow:hidden; height:202px; border:1px solid #e4e4e4;}

	.supCustomBox {float:left; height:202px; margin-left:30px; width:621px; border-right:1px solid #e4e4e4;}
		ul.supCustomlist {overflow:hidden; margin-top:20px;}
		ul.supCustomlist li {float:left; }

	.solarNewsbox {float:left; width:296px; height:123px; margin-left:30px; }
		ul.solarNewlist {margin-top:20px; width:270px;}
		ul.solarNewlist li {padding-left:11px; background:url("../images/common/bl_square.gif") no-repeat 0 7px;}

/* 조명 index */

h4.titLighting {margin-top:30px;}

.lightconTopbox {overflow:hidden; margin-top:30px; height:191px; border:1px solid #e4e4e4; border-bottom:none;}
	.lightLink { float:left; width:458px; height:191px; padding:0 0 0 30px; border-left:1px solid #e4e4e4;}
	.lightLink:first-child  {border-left:0px;}
	.lightLink p {margin-top:16px; height:90px;}
	.lightLink p span {display:block;}
	.lightLink p.bg_solaLink01 {background:url('../images/lighting/bg_light_guide.gif') 0 0 no-repeat; padding-left:133px;height:89px;}
	.lightLink p.bg_solaLink02 {background:url('../images/lighting/bg_light_town.gif') 0 0 no-repeat; padding-left:228px;}

.lightconbotbox {overflow:hidden; height:202px; border:1px solid #e4e4e4;}
	.lightCustomBox {float:left; width:458px; height:202px; margin-left:30px; border-right:1px solid #e4e4e4;}
		ul.lightCustomlist {overflow:hidden; margin-top:20px;}
		ul.lightCustomlist li {float:left; }

	.lightcenterbox {float:left; width:197px; height:202px; margin-left:30px; border-right:1px solid #e4e4e4;}

	.lightNewsbox {float:left; width:231px; height:123px; margin-left:30px; }
		ul.lightNewlist {overflow:hidden; width:231px; height:200px; margin-top:20px;}
		ul.lightNewlist li {padding-left:11px; background:url("../images/common/bl_square.gif") no-repeat 0 7px;}

/************************ 고객지원 ***************************/
/* 메인 검색박스 */

.selectBox.support_selectBox { padding:12px 40px 12px 29px;}
.search_bar01 {/*overflow:hidden;*/ width:980px; height:44px; background:#333666; margin:0 auto;}
	.btn_search_renew.support_search{ width:81px; height:38px; background:url("../images/business/bg_sch_input.gif") no-repeat left 0px;}
	.entry.support_entry {.margin-right:5px;width:661px; height:38px; background:url("../images/business/bg_support_input.gif") no-repeat 0 0;}
		.entry input.intxt.support_intxt { width:638px; height:30px;}

.supportBox{/*margin-top:40px;*/border:1px solid #cfcfcf;}
.supportBox01 {padding-top:30px;padding-bottom:40px;border-left:1px solid #cfcfcf;border-right:1px solid #cfcfcf;}



.supportConBox02{overflow:hidden;border-bottom:1px solid #e4e4e4;}
	.supportDownInfo.supportDown{border-right:1px solid #e4e4e4;background:url('../images/business/bg_support_down.gif') no-repeat 350px 40px;}
	.supportDownInfo{position:relative;float:left;width:428px;height:60px;padding:30px;background:url('../images/business/bg_support_info.gif') no-repeat 350px 25px;}
	.supportDownInfo h3 {margin-bottom:20px;}
		.supportDownInfo.supportDown a{left:142px;}
		.supportDownInfo a{display:block;}

.supportConBox03{height:163px;padding:30px 0 0 30px;}
	.supportSolutionList{overflow:hidden;margin-top:30px;}
	.supportSolutionList li{float:left;line-height:16px;padding-right:135px;margin-left:30px;}
	.supportSolutionList li:first-child{margin-left:0;}

	.supportSolutionList li.method{background:url('../images/business/bg_support_method.gif') no-repeat 178px 0;}
	.supportSolutionList li.question{background:url('../images/business/bg_support_question.gif') no-repeat 190px 0;}
	.supportSolutionList li.emailView{background:url('../images/business/bg_support_email.gif') no-repeat 180px 18px;}

	.supportSolutionList li span{display:block;}
	.supportSolutionList li span.txt{width:160px;margin-top:5px;}