BODY
{
    FONT-SIZE: 9pt;
    COLOR: #160f25;
    FONT-FAMILY: 굴림
}
TD
{
    FONT-SIZE: 9pt;
    COLOR: #160f25;
    FONT-FAMILY: 굴림;
	padding-left:5px;
}
SELECT
{
    FONT-SIZE: 9pt;
    COLOR: #160f25;
    FONT-FAMILY: 굴림
}
INPUT
{
    FONT-SIZE: 9pt;
    COLOR: #160f25;
    FONT-FAMILY: 굴림
}
DIV
{
    FONT-SIZE: 9pt;
    COLOR: #160f25;
    FONT-FAMILY: 굴림
}
FORM
{
    FONT-SIZE: 9pt;
    COLOR: #160f25;
    FONT-FAMILY: 굴림
}
TEXTAREA
{
    FONT-SIZE: 9pt;
    COLOR: #160f25;
    FONT-FAMILY: 굴림
}
CENTER
{
    FONT-SIZE: 9pt;
    COLOR: #160f25;
    FONT-FAMILY: 굴림
}
OPTION
{
    FONT-SIZE: 9pt;
    COLOR: #160f25;
    FONT-FAMILY: 굴림
}
PRE
{
    FONT-SIZE: 9pt;
    COLOR: #160f25;
    FONT-FAMILY: 굴림
}
BLOCKQUOTE
{
    FONT-SIZE: 9pt;
    COLOR: #160f25;
    FONT-FAMILY: 굴림
}
A:link
{
    COLOR: black;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: black;
    TEXT-DECORATION: none
}
A:active
{
    COLOR: black;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: gray;
    TEXT-DECORATION: none
}
.input
{
    BORDER-RIGHT: #160f25 1px solid;
    BORDER-TOP: #160f25 1px solid;
    BORDER-LEFT: #160f25 1px solid;
    BORDER-BOTTOM: #160f25 1px solid;
    BACKGROUND-COLOR: white
}
.submit
{
    BORDER-RIGHT: white 1px solid;
    BORDER-TOP: white 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: white 1px solid;
    COLOR: white;
    BORDER-BOTTOM: white 1px solid;
    FONT-FAMILY: 굴림;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #160f25
}
.comment_submit
{
    BORDER-RIGHT: silver 1px solid;
    BORDER-TOP: silver 1px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: silver 1px solid;
    COLOR: #333666;
    BORDER-BOTTOM: silver 1px solid;
    FONT-FAMILY: Verdaba;
    BACKGROUND-COLOR: #f9f9f9
}
.setup
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 6pt;
    COLOR: #3f1818;
    FONT-FAMILY: Tahoma
}
.list_header
{
    FONT-SIZE: 8pt;
    COLOR: #5d2a2a;
    FONT-FAMILY: Matchworks,Tahoma
}
.listnum
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Tahoma
}
.commentnum
{
    FONT-SIZE: 6pt;
    FONT-FAMILY: Tahoma
}
.view_title1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13pt;
    COLOR: #333333;
    FONT-FAMILY: Arial
}
.view_title2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 15px;
    COLOR: #333333;
    FONT-FAMILY: Arial;
    LETTER-SPACING: -1px
}
.view_left_menu
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #333333;
    FONT-FAMILY: Arial
}
.view_title3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #ff0000;
    FONT-FAMILY: Arial
}
.view_title4
{
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: 돋움
}
.view_title5
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: 돋움
}
.view_title6
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #808080;
    FONT-FAMILY: Arial
}
.view_title7
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: 굴림
}
.view_title8
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #ff0000;
    FONT-FAMILY: Arial
}
.view_title9
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: 돋움
}
.tax_title
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 18pt;
    COLOR: #ff0000;
    FONT-FAMILY: 명조체
}
.tax_title2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 18pt;
    COLOR: #000088;
    FONT-FAMILY: 명조체
}
.tax_title3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 15pt;
    COLOR: #000000;
    FONT-FAMILY: 명조체
}
.tax_name
{
    FONT-SIZE: 9pt;
    COLOR: #ff0000;
    FONT-FAMILY: 고딕
}
.tax_name1
{
    FONT-SIZE: 9pt;
    COLOR: #000088;
    FONT-FAMILY: 고딕
}
.tax_name2
{
    FONT-SIZE: 9pt;
    COLOR: #ffffff;
    FONT-FAMILY: 고딕
}
.tax_name3
{
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: 고딕
}
.tax_name4
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: 고딕
}
.tax_outline
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: 고딕
}
.tax_outline2
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: 고딕
}
.tax_outline3
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: 고딕
}
.tax_small
{
    FONT-SIZE: 8pt;
    COLOR: #ff0000;
    FONT-FAMILY: 고딕
}
.tax_small2
{
    FONT-SIZE: 8pt;
    COLOR: #000088;
    FONT-FAMILY: 고딕
}
.tax_small3
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: 고딕
}
.textinput
{
    BORDER-RIGHT: #ffffff 1px solid;
    BORDER-TOP: #ffffff 1px solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #ffffff 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #ffffff 1px solid;
    HEIGHT: 20px;
    BACKGROUND-COLOR: #e7e7e7
}
.textinput2
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #000000 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #000000 1px solid;
    HEIGHT: 30px;
    BACKGROUND-COLOR: white
}
.box1
{
    BORDER-RIGHT: #cc0066 1px;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #cc0066 1px;
    PADDING-LEFT: 1px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #cc0066 1px;
    COLOR: #0032f0;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #cc0066 1px;
    FONT-FAMILY: "Verdana";
    TEXT-DECORATION: none;
    ont-size: 10pt
}
.box2
{
    BORDER-RIGHT: 0px dashed;
    BORDER-TOP: #3c9a2e 0px dashed;
    FONT-SIZE: 10pt;
    BORDER-LEFT: 0px dashed;
    COLOR: #3c9a2e;
    BORDER-BOTTOM: 1px solid;
    FONT-STYLE: normal;
    FONT-FAMILY: "Verdana";
    HEIGHT: 14pt;
    TEXT-DECORATION: none
}
.box3
{
    BORDER-RIGHT: 0px dashed;
    BORDER-TOP: #3c9a2e 0px dashed;
    FONT-SIZE: 10pt;
    BORDER-LEFT: 0px dashed;
    COLOR: #3c9a2e;
    BORDER-BOTTOM: 0px solid;
    FONT-STYLE: normal;
    FONT-FAMILY: "Verdana";
    HEIGHT: 25px;
    TEXT-DECORATION: none
}
.border1
{
    BORDER-RIGHT: 0px solid #000000;
    BORDER-TOP: 1px solid #000000;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 1px solid #000000;
    COLOR: #000000;
    BORDER-BOTTOM: 0px solid #000000;
    FONT-FAMILY: "고딕"
}
.border2
{
    BORDER-RIGHT: 1px solid #000000;
    BORDER-TOP: 0px solid #000000;
    BORDER-LEFT: 0px solid #000000;
    BORDER-BOTTOM: 1px solid #000000
}
.border3
{
    BORDER-RIGHT: 1px solid #000000;
    BORDER-TOP: 0px solid #000000;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 0px solid #000000;
    COLOR: #000000;
    BORDER-BOTTOM: 0px solid #000000;
    FONT-FAMILY: 고딕
}
.border4
{
    BORDER-RIGHT: 1px solid #000000;
    BORDER-TOP: 1px solid #000000;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 0px solid #000000;
    COLOR: #000088;
    BORDER-BOTTOM: 0px solid #000000;
    FONT-FAMILY: 고딕
}
.border5
{
    BORDER-RIGHT: 0px solid #000000;
    BORDER-TOP: 0px solid #000000;
    BORDER-LEFT: 1px solid #000000;
    BORDER-BOTTOM: 1px solid #000000
}
.border6
{
    BORDER-RIGHT: 1px solid #000000;
    BORDER-TOP: 1px solid #000000;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 0px solid #000000;
    COLOR: #000000;
    BORDER-BOTTOM: 1px solid #000000;
    FONT-FAMILY: 고딕
}
.border11
{
    BORDER-RIGHT: #ff1418 0px solid;
    BORDER-TOP: #ff1418 2px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #ff1418 2px solid;
    COLOR: #ff1418;
    BORDER-BOTTOM: #ff1418 0px solid;
    FONT-FAMILY: 고딕
}
.bordertop
{
    BORDER-RIGHT: #ff1418 0px solid;
    BORDER-TOP: #ff1418 2px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #ff1418 1px solid;
    COLOR: #ff1418;
    BORDER-BOTTOM: #ff1418 0px solid;
    FONT-FAMILY: 고딕
}
.bordertop1
{
    BORDER-RIGHT: #ff1418 0px solid;
    BORDER-TOP: #ff1418 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #ff1418 0px solid;
    COLOR: #ff1418;
    BORDER-BOTTOM: #ff1418 0px solid;
    FONT-FAMILY: 고딕
}
.bordertop3
{
    BORDER-RIGHT: #ff1418 0px solid;
    BORDER-TOP: #ff1418 2px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 15pt;
    BORDER-LEFT: #ff1418 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #ff1418 0px solid;
    FONT-FAMILY: 고딕
}
.borderleft
{
    BORDER-RIGHT: #ff1418 0px solid;
    BORDER-TOP: #ff1418 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #ff1418 2px solid;
    COLOR: #ff1418;
    BORDER-BOTTOM: #ff1418 0px solid;
    FONT-FAMILY: 고딕
}
.borderleft0
{
    BORDER-RIGHT: #ff1418 0px solid;
    BORDER-TOP: #ff1418 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #ff1418 2px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #ff1418 0px solid;
    FONT-FAMILY: 고딕
}
.borderright
{
    BORDER-RIGHT: #ff1418 2px solid;
    BORDER-TOP: #ff1418 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #ff1418 1px solid;
    COLOR: #ff1418;
    BORDER-BOTTOM: #ff1418 0px solid;
    FONT-FAMILY: 고딕
}
.borderbottom
{
    BORDER-RIGHT: #ff1418 0px solid;
    BORDER-TOP: #ff1418 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #ff1418 1px solid;
    COLOR: #ff1418;
    BORDER-BOTTOM: #ff1418 0px solid;
    FONT-FAMILY: 고딕
}
.bordertopb
{
    BORDER-RIGHT: #000088 0px solid;
    BORDER-TOP: #000088 2px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #000088 1px solid;
    COLOR: #000088;
    BORDER-BOTTOM: #000088 0px solid;
    FONT-FAMILY: 고딕
}
.bordertopb1
{
    BORDER-RIGHT: #000088 0px solid;
    BORDER-TOP: #000088 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #000088 0px solid;
    COLOR: #000088;
    BORDER-BOTTOM: #000088 0px solid;
    FONT-FAMILY: 고딕
}
.bordertop3b
{
    BORDER-RIGHT: #000088 0px solid;
    BORDER-TOP: #000088 2px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 15pt;
    BORDER-LEFT: #000088 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #000088 0px solid;
    FONT-FAMILY: 고딕
}
.borderleftb
{
    BORDER-RIGHT: #000088 0px solid;
    BORDER-TOP: #000088 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #000088 2px solid;
    COLOR: #000088;
    BORDER-BOTTOM: #000088 0px solid;
    FONT-FAMILY: 고딕
}
.borderleftb0
{
    BORDER-RIGHT: #000088 0px solid;
    BORDER-TOP: #000088 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #000088 2px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #000088 0px solid;
    FONT-FAMILY: 고딕
}
.borderrightb
{
    BORDER-RIGHT: #000088 2px solid;
    BORDER-TOP: #000088 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #000088 1px solid;
    COLOR: #000088;
    BORDER-BOTTOM: #000088 0px solid;
    FONT-FAMILY: 고딕
}
.borderbottomb
{
    BORDER-RIGHT: #000088 0px solid;
    BORDER-TOP: #000088 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #000088 1px solid;
    COLOR: #000088;
    BORDER-BOTTOM: #000088 0px solid;
    FONT-FAMILY: 고딕
}
.border12
{
    BORDER-RIGHT: #ff1418 2px solid;
    BORDER-TOP: #ff1418 0px solid;
    BORDER-LEFT: #ff1418 0px solid;
    BORDER-BOTTOM: #ff1418 2px solid
}
.border13
{
    BORDER-RIGHT: #ff1418 0px solid;
    BORDER-TOP: #ff1418 2px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #ff1418 2px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #ff1418 0px solid;
    FONT-FAMILY: 고딕
}
.border14
{
    BORDER-RIGHT: #000088 0px solid;
    BORDER-TOP: #000088 2px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #000088 2px solid;
    COLOR: #000088;
    BORDER-BOTTOM: #000088 0px solid;
    FONT-FAMILY: 고딕
}
.border15
{
    BORDER-RIGHT: #000088 2px solid;
    BORDER-TOP: #000088 0px solid;
    BORDER-LEFT: #000088 0px solid;
    BORDER-BOTTOM: #000088 2px solid
}
.border16
{
    BORDER-RIGHT: #000088 0px solid;
    BORDER-TOP: #000088 2px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #000088 2px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #000088 0px solid;
    FONT-FAMILY: 고딕
}

/* 버튼위치*/
.btnb {overflow:hidden; width:100%;}
.btnl {position:relative; text-align:left;}
.btnr {position:relative; text-align:right;}
.btnc {position:relative; text-align:center;}


.btn_Area{overflow:hidden;border-top:1px solid #e4e4e4;margin-top:65px;padding-top:20px;}
	.btn_left{float:left;}
	.btn_right{float:right;}

.interest {overflow:hidden; width:100%;border-top:0;padding:0;margin-top:26px;}
.interest .btn_left1{float:left;}
.interest .btn_right1{float:right;}


/* 공통margin */
.mg0 {margin:0 !important;}
.mgt0 {margin-top:0 !important;}
.mgt1 {margin-top:1px !important;}
.mgt3 {margin-top:3px !important;}
.mgt5 {margin-top:5px !important;}
.mgt7 {margin-top:7px !important;}
.mgt8 {margin-top:8px !important;}
.mgt10 {margin-top:10px !important;}

.btn_submit { color: #fff; background-color: #0086d1; width: 152px; height: 40px;  display: block; font-weight: normal; border:none; cursor: pointer;}
.btn_submit:hover {background-color: #555555;}
.btn_submit_g { color: #fff; background-color: #717f9a; width: 152px; height: 40px;  display: block; font-weight: normal; border:none; cursor: pointer;}
.btn_submit_g:hover {float:center;background-color: #555555;}

