@charset "utf-8";
@font-face {
	font-family: 'scDream_light'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); 
	font-weight: normal;
	font-style: normal; 
}
@font-face {
	font-family: 'scDream_regular'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); 
	font-weight: normal;
	font-style: normal; 
}
@font-face {
	font-family: 'scDream_medium'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff'); 
	font-weight: normal;
	font-style: normal; 
}
@font-face {
	font-family: 'NotoKR';
	font-style:normal;
	font-weight:100;
	src:url('/css/font/NotoKR-Thin.eot');
	src:url('/css/font/NotoKR-Thin.woff2') format('woff2'),
		url('/css/font/NotoKR-Thin.woff') format('woff'),
		url('/css/font/NotoKR-Thin.svg#NotoKR-Thin') format('svg'),
		url('/css/font/NotoKR-Thin.eot?#iefix') format('embedded-opentype'),
		url('/css/font/NotoKR-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'NotoKR';
	font-style:normal;
	font-weight:300;
	src:url('/css/font/NotoKR-Light.eot');
	src:url('/css/font/NotoKR-Light.woff2') format('woff2'),
		url('/css/font/NotoKR-Light.woff') format('woff'),
		url('/css/font/NotoKR-Light.svg#NotoKR-Light') format('svg'),
		url('/css/font/NotoKR-Light.eot?#iefix') format('embedded-opentype'),
		url('/css/font/NotoKR-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'NotoKR';
	font-style:normal;
	font-weight:400;
	src:url('/css/font/NotoKR-DemiLight.eot');
	src:url('/css/font/NotoKR-DemiLight.woff2') format('woff2'),
		url('/css/font/NotoKR-DemiLight.woff') format('woff'),
		url('/css/font/NotoKR-DemiLight.svg#NotoKR-DemiLight') format('svg'),
		url('/css/font/NotoKR-DemiLight.eot?#iefix') format('embedded-opentype'),
		url('/css/font/NotoKR-DemiLight.ttf') format('truetype');
}
@font-face {
	font-family: 'NotoKR';
	font-style:normal;
	font-weight:500;
	src:url('/css/font/NotoKR-Regular.eot');
	src:url('/css/font/NotoKR-Regular.woff2') format('woff2'),
		url('/css/font/NotoKR-Regular.woff') format('woff'),
		url('/css/font/NotoKR-Regular.svg#NotoKR-Regular') format('svg'),
		url('/css/font/NotoKR-Regular.eot?#iefix') format('embedded-opentype'),
		url('/css/font/NotoKR-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'NotoKR';
	font-style:normal;
	font-weight:600;
	src:url('/css/font/NotoKR-Medium.eot');
	src:url('/css/font/NotoKR-Medium.woff2') format('woff2'),
		url('/css/font/NotoKR-Medium.woff') format('woff'),
		url('/css/font/NotoKR-Medium.svg#NotoKR-Medium') format('svg'),
		url('/css/font/NotoKR-Medium.eot?#iefix') format('embedded-opentype'),
		url('/css/font/NotoKR-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'NotoKR';
	font-style:normal;
	font-weight:700;
	src:url('/css/font/NotoKR-Bold.eot');
	src:url('/css/font/NotoKR-Bold.woff2') format('woff2'),
		url('/css/font/NotoKR-Bold.woff') format('woff'),
		url('/css/font/NotoKR-Bold.svg#NotoKR-Bold') format('svg'),
		url('/css/font/NotoKR-Bold.eot?#iefix') format('embedded-opentype'),
		url('/css/font/NotoKR-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'NotoKR';
	font-style:normal;
	font-weight:800;
	src:url('/css/font/NotoKR-Black.eot');
	src:url('/css/font/NotoKR-Black.woff2') format('woff2'),
		url('/css/font/NotoKR-Black.woff') format('woff'),
		url('/css/font/NotoKR-Black.svg#NotoKR-Black') format('svg'),
		url('/css/font/NotoKR-Black.eot?#iefix') format('embedded-opentype'),
		url('/css/font/NotoKR-Black.ttf') format('truetype');
}