@charset "utf-8";

body {background:#fff}

.wrap {width:100%;margin:0 auto;}
.top {margin-bottom:0px;background:#ccc;height:53px}
.container {overflow:hidden;/*width:1010px;*/ margin:0;background:#fff;*zoom:1;border-top: 5px solid #3677bc}
.container:after {display:block; content:" "; clear:both; *zoom:1}
.left {float:left;width:195px; border:1px #CCC solid; background:#f8f9f9; margin-bottom:20px}
.content { margin:0 0 0 195px;padding: 20px 30px 10px;overflow:hidden;_display:inline; *zomm:1; vertical-align:top}
.footer {/*width:1010px;*/ margin:0 0;clear:both}


.master_wrap {position: relative;overflow: visible;margin: 0;margin-left: 275px;display: block;padding: 50px 40px;letter-spacing: -0.01em;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}


@media (max-width: 1024px) {
	body  {background-color: #f3f3f3}
	.container {border-top: 0;padding-top: 57px;background-color: transparent;}
	.master_wrap {width: 100%;margin-left: 0;padding: 0;max-width: 100%}
}