@charset "utf-8";

@import url("reset.css");


body {font-family: 'NotoKR',sans-serif;letter-spacing: -0.8px;font-weight: 500;}
#contents {background-color: #eff1f3;}
.com_container {width: 1160px;padding: 0 10px;margin: auto;}

/* scroll top */
.scroll_top {display: none;	position: fixed;right: 10px;bottom: 80px;width: 45px;height: 45px;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;-webkit-box-shadow: 0 0 1px #EEE;-moz-box-shadow: 0 0 1px #EEE;box-shadow: 0 0 1px #EEE;text-align: center;line-height: 15px;background-color: rgba(255,255,255,.7);font-size: 15px;border: 1px solid rgba(0,0,0,.2);font-family: 'Poppins',sans-serif;font-weight: 700;color: #898989;z-index: 150;}
.scroll_top:after {content: '';display: block;position: absolute;right: 13px;top: 11px;width: 15px;height: 15px;border-top: 2px solid #444;border-right: 2px solid #444;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);}
.scroll_top a {display: block;padding: 21px 0 8px;color: #555;}


/* header */
#header {width: 100%;background-color: #FFF;border-bottom: 1px solid #e5e5e5;letter-spacing: 0;}
#header .hd_area {padding-left: 235px;}
#header .hd_tit {position: relative;height: 70px;background-color:#FFF;}
#header .hd_tit h1 {position:absolute;left: 50%;top: 50%;display: block;}
#header .hd_tit h1 a {display: inline-block;}
#header .hd_tit h1 img {display: block;max-height: 45px;vertical-align: bottom;}
#header .hd_time {position:absolute;right: 0;;top: 50%;font-size: 0;}
#header .hd_time span{position: relative;display: inline-block;padding-right: 9px;color:#aaaaaa;font-size: 15px;font-weight: 400;letter-spacing: 0.01em}
#header .hd_time span:last-child {padding-right:0;padding-left: 8px;color:#000;font-weight: 600;}
#header .hd_time span:after {position:absolute;right: 0;top: 50%;content: '';display: block;width: 1px;height:16px;margin-top: 1px;background-color: #EEE;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);}
#header .hd_time span:last-child:after {display:none}

#footer {background-color: #dcdfe3;border-top: #d2d2d2;color: #444444;font-weight: 400;font-size: 14px;border-top: 1px solid #e0e0e0;letter-spacing: 0;letter-spacing: -0.004em}
#footer .foo_area {padding: 35px 0;}
#footer .foo_left {float: left;width: 50%;}

#footer .foo_right {float: right;padding-right: 20px;}
#footer .foo_right li {position:relative;float: left;padding-right: 11px;}
#footer .foo_right li:after {content:'';position:absolute;right:0;top:50%;display: block;width:1px;height: 10px;background-color: #AAA;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);}
#footer .foo_right li:last-child {padding-right: 0;padding-left: 10px;} 
#footer .foo_copy {float: left;color: #aaaaaa;font-size: 13px;letter-spacing: -0.005em;font-weight: 400;}

/* 인쇄팝업 */
#iframe_pop {display: none;}
#ifrmAction {position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: 100;}

