<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mes.app.mapper.buyer.BuyerMapper">
  <select id="getBuyerMemberList" parameterType="HashMap" resultType="Map">
    SELECT A.BUYER_MEMBER_SEQ                    AS buyer_member_seq,
           A.CUST_SEQ                            AS cust_seq,
           A.BUYER_MEMBER_ID                     AS buyer_member_id,
           IFNULL(A.BUYER_MEMBER_NAME, '')       AS buyer_member_name,
           IFNULL(A.BUYER_MEMBER_POSITION, '')   AS buyer_member_position,
           IFNULL(A.BUYER_MEMBER_DEPARTMENT, '') AS buyer_member_department,
           IFNULL(A.BUYER_MEMBER_TEL, '')        AS buyer_member_tel,
           IFNULL(A.BUYER_MEMBER_EMAIL, '')      AS buyer_member_email,
           IFNULL(A.BUYER_MEMBER_GRADE, '')      AS buyer_member_grade,
           A.buyer_use_yn                        AS buyer_use_yn,
           A.buyer_delete_yn                        AS buyer_delete_yn,
           B.BUSINESS_NO                         AS business_no,
           B.BOSS_NAME                           AS boss_name,
           B.CUST_NAME                           AS cust_name
    FROM BUYER_MEMBER_LIST A
           INNER JOIN CUST B ON A.CUST_SEQ = B.CUST_SEQ
    WHERE A.CUST_SEQ = #{CUST_SEQ}
  </select>

  <insert id="buyerMemberInsertAccount" parameterType="HashMap">
    insert into buyer_member_list(buyer_auth_group_seq, buyer_password, buyer_member_id, buyer_member_name, cust_seq, buyer_regist_date,
                                  buyer_update_date, buyer_member_position,
                                  buyer_member_department, buyer_member_tel, buyer_member_email, buyer_member_grade, buyer_use_yn, buyer_delete_yn)
    values (#{buyer_auth_group_seq},
            #{business_no},
            #{buyer_member_id},
            #{buyer_member_name}, #{cust_seq},
            now(),
            now(),
            #{buyer_member_position},
            #{buyer_member_department}, #{buyer_member_tel},
            #{buyer_member_email}, #{buyer_member_grade}, #{buyer_use_yn}, #{buyer_delete_yn});

  </insert>
  <update id="buyerMemberUpdateAccount" parameterType="HashMap">
    UPDATE buyer_member_list
    SET
        buyer_member_id= #{buyer_member_id},
        buyer_member_name= #{buyer_member_name},
        buyer_update_date= now(),
        buyer_member_position= #{buyer_member_position},
        buyer_member_department= #{buyer_member_department},
        buyer_member_tel= #{buyer_member_tel},
        buyer_member_email= #{buyer_member_email},
        buyer_member_grade= #{buyer_member_grade},
        buyer_use_yn= #{buyer_use_yn},
        buyer_delete_yn= #{buyer_delete_yn}
    WHERE buyer_member_seq = #{buyer_member_seq};

  </update>
</mapper>
