<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mes.app.mapper.code.ComCodeMapper">

    <select id="comCodeListTotal"  parameterType="HashMap" resultType="int">

        SELECT
            COUNT(*)
        from COMCODE A
        WHERE
            A.DELETE_YN = 'N'
            ${sQuery}




    </select>



    <select id="comCodeList" parameterType="HashMap" resultType="Map">
        SELECT * FROM (
                          SELECT
                              @ROWNUM := @ROWNUM+1 AS no,
                              k.CODE_ID AS code_id,
                              k.CODE_NM AS code_nm,
                              k.USE_YN  AS use_yn,
                              k.REG_DATE AS reg_date
                          FROM
                              (
                              select
                              A.CODE_ID AS CODE_ID,
                              A.CODE_NM AS CODE_NM,
                              A.USE_YN AS USE_YN,
                             convert(date_format(A.REG_DATE, '%Y-%m-%d'), char(10)) as REG_DATE
                              from COMCODE A ,(SELECT @ROWNUM:=0) R
                              where
                              A.DELETE_YN = 'N'
                              ${sQuery}
                              order by A.reg_date desc
                              ) k
                      )sub
        WHERE sub.no  BETWEEN ((#{currentPage}-1) * #{rowsPerPage}) + 1 AND #{currentPage} * #{rowsPerPage}

    </select>

    <select id="comCodeDetailListTotal"  parameterType="HashMap" resultType="int">

        SELECT
            COUNT(*)
        from COMCODE_DETAIL
        WHERE
            DELETE_YN = 'N'
          and USE_YN = #{use_yn}
          and CODE_ID = #{code_id}

    </select>

    <select id="comCodeDetailList" parameterType="HashMap" resultType="Map">
        SELECT * FROM (
                          SELECT
                              @ROWNUM := @ROWNUM+1 AS no,
                              k.CODE_ID AS code_id,
                              k.CODE AS code,
                              k.CODE_DC AS code_dc,
                              k.CODE_NM AS code_nm,
                              k.USE_YN  AS use_yn,
                              k.REG_DATE AS reg_date
                          FROM
                              (
                              select
                              CODE_ID AS CODE_ID,
                              CODE AS CODE,
                              CODE_DC AS CODE_DC,
                              CODE_NM AS CODE_NM,
                              USE_YN AS USE_YN,
                              convert(date_format(REG_DATE, '%Y-%m-%d'), char(10)) as REG_DATE
                              from COMCODE_DETAIL ,(SELECT @ROWNUM:=0) R
                              where
                              DELETE_YN = 'N'
                              and USE_YN = #{use_yn}
                              and CODE_ID = #{code_id}
                              order by reg_date desc
                              ) k
                      )sub
        WHERE sub.no  BETWEEN ((#{currentPage}-1) * #{rowsPerPage}) + 1 AND #{currentPage} * #{rowsPerPage}

    </select>

    <select id="Code_Manage_V1_Str" statementType="CALLABLE" parameterType="Map" resultType="String">
        {  call Code_Manage_V1_Str (
                #{mode},#{manager_seq}, #{code_id}, #{code_nm}, #{code_dc}, #{use_yn}
            )
        }
    </select>

    <select id="codeInfo" parameterType="HashMap" resultType="Map">
       SELECT
           CODE_ID AS code_id,
           CODE_DC AS code_dc,
           CODE_NM AS code_nm,
           USE_YN  AS use_yn
        FROM
            COMCODE
        WHERE
            DELETE_YN = 'N'
            AND CODE_ID = #{code_id}
    </select>

    <select id="comCodeSelectList" parameterType="HashMap" resultType="HashMap">
        SELECT
            CODE_ID AS code_id,
            CODE_NM AS code_nm
        FROM
            COMCODE
        WHERE DELETE_YN = 'N'
        order by reg_date asc
    </select>

    <select id="comCodeDetailSelectList" parameterType="HashMap" resultType="HashMap">
        SELECT
            CODE_ID AS code_id,
            CODE AS code,
            CODE_NM AS code_nm,
            CODE_DC AS code_dc,
            USE_YN AS use_yn
        FROM
            COMCODE_DETAIL
        WHERE DELETE_YN = 'N'
        and USE_YN = 'Y'
        and code_id = #{code_id}
        order by reg_date asc
    </select>

    <select id="CodeDetail_Manage_V1_Str" statementType="CALLABLE" parameterType="Map" resultType="String">
        {  call CodeDetail_Manage_V1_Str (
                #{mode},#{manager_seq},#{code}, #{code_id}, #{code_nm}, #{code_dc}, #{use_yn}
            )
        }
    </select>

    <select id="codeDetailInfo" parameterType="HashMap" resultType="Map">
        SELECT
            CODE_ID AS code_id,
            CODE AS code,
            CODE_DC AS code_dc,
            CODE_NM AS code_nm,
            USE_YN  AS use_yn
        FROM
            COMCODE_detail
        WHERE
            CODE = #{code}
            AND DELETE_YN = 'N'
    </select>


    <select id="selectComCodeDetail" parameterType="HashMap" resultType="Map">
        SELECT * FROM (
                          SELECT
                              @ROWNUM := @ROWNUM+1 AS no,
                              k.CODE_ID AS code_id,
                              k.UPPER_CODE_NM AS upper_code_nm,
                              k.CODE AS code,
                              k.CODE_DC AS code_dc,
                              k.CODE_NM AS code_nm,
                              k.USE_YN  AS use_yn,
                              k.SYSTEM_YN AS system_yn,
                              k.REG_DATE AS reg_date
                          FROM
                              (
                              select
                              A.CODE_ID AS CODE_ID,
                              B.CODE_NM AS UPPER_CODE_NM,
                              A.CODE AS CODE,
                              A.CODE_DC AS CODE_DC,
                              A.CODE_NM AS CODE_NM,
                              A.USE_YN AS USE_YN,
                              A.SYSTEM_YN AS SYSTEM_YN,
                              convert(date_format(A.REG_DATE, '%Y-%m-%d'), char(10)) as REG_DATE

                              from COMCODE_DETAIL A INNER JOIN comcode B on A.CODE_ID = B.CODE_ID ,(SELECT @ROWNUM:=0) R
                              where
                              A.DELETE_YN = 'N'
                              AND A.CODE_ID = #{code_id}
                              order by A.reg_date asc

                              ) k
                      )sub
    </select>

    <update id="deleteComCodeDetail" parameterType="HashMap" >
        UPDATE COMCODE_DETAIL SET
            DELETE_YN = 'Y',
            DELETE_DATE = now(),
            DELETE_BY = #{manager_seq}
        WHERE CODE= #{code} and CODE_ID = #{code_id}
    </update>

</mapper>
