<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mes.app.mapper.CommonCodeMapper">

    <select id="COMMON_CODE_INFO_List_S1_Str" statementType="CALLABLE" parameterType="Map" resultType="Map">
        {  call COMMON_CODE_INFO_List_S1_Str (
            #{classification}
            )
        }
    </select>

    <select id="COMMON_CODE_INFO_List_S2_Str" statementType="CALLABLE" parameterType="Map" resultType="Map">
        {  call COMMON_CODE_INFO_List_S2_Str (
            #{classification}
            )
        }
    </select>

    <insert id="COMMON_CODE_INFO_I1_Str" statementType="CALLABLE" parameterType="Map">
        {  call COMMON_CODE_INFO_I1_Str (
            #{classification},
            #{codeName},
            #{managerId}
            )
        }
    </insert>

    <update id="COMMON_CODE_INFO_U1_Str" statementType="CALLABLE" parameterType="Map">
        {  call COMMON_CODE_INFO_U1_Str (
            #{commonCode},
            #{useAt},
            #{fixedAt},
            #{loginUserId}
            )
        }
    </update>

    <update id="COMMON_CODE_INFO_U2_Str" statementType="CALLABLE" parameterType="Map">
        {  call COMMON_CODE_INFO_U2_Str (
            #{commonCode},
            #{change},
            #{loginUserId}
            )
        }
    </update>

    <update id="COMMON_CODE_INFO_U3_Str" statementType="CALLABLE" parameterType="Map">
        {  call COMMON_CODE_INFO_U3_Str (
            #{commonCode},
            #{codeName},
            #{codeValue},
            #{loginUserId}
            )
        }
    </update>
</mapper>