<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mes.app.mapper.contract.ContractMapper">
    <select id="Material_List_S1_Str" statementType="CALLABLE" parameterType="HashMap" resultType="Map">
        {  call Material_List_S1_Str (

            #{searchText},
            #{REMARKS_WIN},
            #{USE_YN},
            #{currentPage},
            #{rowsPerPage}
            )
        }
    </select>
    
    <select id="Order_Search_S1_Str" statementType="CALLABLE" parameterType="HashMap" resultType="Map">
        {  call Order_Search_S1_Str (
            #{startDate},
            #{endDate},
            #{REMARKS_WIN},
            #{ORDER_STATUS},
            #{BUSINESS_NO},
            #{currentPage},
            #{rowsPerPage} 
            )
        }
    </select>
    
    
    <select id="Product_Group_CD_S1_Str" statementType="CALLABLE" parameterType="HashMap" resultType="Map">
        {  call Product_Group_CD_S1_Str()
        }
    </select>
    <select id="Product_Group_S1_Str" statementType="CALLABLE" parameterType="HashMap" resultType="Map">
        {  call Product_Group_S1_Str()
        }
    </select>
    <select id="Product_CATEGORY__S1_Str" statementType="CALLABLE" parameterType="HashMap" resultType="Map">
        {  call Product_CATEGORY__S1_Str()
        }
    </select>
    
    <select id="Order_Row_S1_Str" statementType="CALLABLE" parameterType="HashMap" resultType="Map">
        {  call Order_Row_S1_Str(#{ORDER_CODE})
        
        }
    </select>
	
	<select id="Order_Material_Create_I1_Str" statementType="CALLABLE" parameterType="HashMap">
	    {call Order_Material_Create_I1_Str(
	    #{seq},
	    #{order_code},
	    #{code},
	    #{pdt_name},
	    #{pdt_standard},
	    #{qty},
	    #{unit},
	    #{unit_price},
	    #{supply_price},
	    #{vat})
	    }  
	     
    </select>
    
	<select id="Contract_Create_I1_Str" statementType="CALLABLE" parameterType="HashMap" resultType="String">
	    {call Contract_Create_I1_Str(
	    #{business_no},#{buyer_name},#{buyer_manager_name},#{buyer_phonenumber},
	    #{contract_name},#{contract_manager_name},#{contract_phonenumber},#{supply_amount},#{tax_amount},#{total_amount},#{bigo},
	   	#{contract_date},#{close_date},#{buyer_addr},#{cust_seq} )
	    }

	</select>

	<select id="Contract_Create_I2_Str" statementType="CALLABLE" parameterType="HashMap" resultType="String">
		{call Contract_Create_I2_Str(
				#{buyer_manager_name},#{buyer_phonenumber},#{contract_manager_name},#{contract_phonenumber},
		    	#{supply_amount},#{tax_amount},#{total_amount},#{bigo},
				#{contract_date},#{close_date},#{post_no},#{buyer_addr},#{buyer_addr_info},#{cust_seq},#{iManager_seq} )
			}

	</select>

	<select id="Contract_Detail_Create_I1_Str" statementType="CALLABLE" parameterType="HashMap" resultType="String">

		{call Contract_Detail_Create_I1_Str(
				#{seq},
				#{contract_code},
				#{pdt_cd},
				#{pdt_code},
				#{pdt_name},
				#{pdt_standard},
				#{qty},
				#{unit},
				#{unit_price},
				#{supply_price},
				#{vat}
		    )
		}
	</select>


	<select id="OrderMaterial_Row_S1_Str" statementType="CALLABLE" parameterType="HashMap" resultType="Map">
        {  
        call OrderMaterial_Row_S1_Str(#{ORDER_CODE})	
        }
    </select>
    
    <delete id="OrderMaterial_Delete_D1_Str" statementType="CALLABLE" parameterType="HashMap">
    
    	delete from order_material where ORDER_CODE = #{ORDER_CODE}
    	
    </delete>
    
     <update id="Order_Update_U1_Str" statementType="CALLABLE" parameterType="HashMap">
    	{
    	call Order_Update_U1_Str(#{ORDER_CODE},#{BUSINESS_NO},#{ORDER_DATE},#{PHONENUMBER},#{BIGO},#{CLOSE_DATE},#{MANAGER_NAME},
    	#{RECEPTION},#{SUPPLY_NAME},#{ORDER_ADDR},#{FAX_AMOUNT},#{TAX_AMOUNT},#{TOTAL_AMOUNT},#{JONGMOK})
    	}
    </update>
    
    <select id="SCM_CustRegist_Search_S1_Str" statementType="CALLABLE" parameterType="HashMap" resultType="Map">
        {  
        call SCM_CustRegist_Search_S1_Str(#{REMARKS_WIN},#{currentPage},
            #{rowsPerPage})	
        }
    </select>
    
     <select id="Order_Material_Search_S1_Str" statementType="CALLABLE" parameterType="HashMap" resultType="Map">
        {  
        call Order_Material_Search_S1_Str(#{REMARKS_WIN},#{currentPage},
            #{rowsPerPage})	
        }
    </select>
    
    
    <select id="orderListTotal"  parameterType="HashMap" resultType="int">
       	SELECT
       	 	COUNT(*) 
       	from contract A left outer join order_material B on A.contract_code = B.order_code
       	WHERE B.no = 1 
			${sQuery}
			and A.contract_date BETWEEN #{startDate} AND #{endDate}

    </select>



	<select id="contractList" parameterType="HashMap" resultType="Map">
		{
		    call Contract_Search_S1_Str (
				#{contract_status},#{search_type},#{search_string},#{currentPage},#{rowsPerPage},#{startDate},#{endDate}
			)
		}
	</select>
    
    
    <select id="contractInfo"  parameterType="HashMap" resultType="Map">

      	SELECT
      		A.contract_seq as contract_seq
      		,A.contract_code as contract_code
      	    ,A.cust_seq as cust_seq
      		,IFNULL(A.contract_phonenumber,'') as contract_phonenumber
            ,convert(date_format(A.contract_date, '%Y-%m-%d'), char(10)) as contract_date
           	,convert(date_format(A.close_date, '%Y-%m-%d'), char(20)) as close_date
           	,IFNULL(TRUNCATE(a.TOTAL_AMOUNT,0),0) as total_amount
           	,IFNULL(TRUNCATE(A.SUPPLY_AMOUNT ,0),0)as supply_amount
            ,IFNULL(TRUNCATE(A.TAX_AMOUNT,0),0) as tax_amount
            ,IFNULL(C.cust_name,'') as buyer_name
            ,IFNULL(A.bigo ,'') as bigo
            ,IFNULL(A.contract_status,'') as contract_status
			,IFNULL(B.NO,'') as no
			,IFNULL(B.PDT_CD,'') as pdt_cd
       	 	,IFNULL(B.PDT_CODE,'') as pdt_code
 			,IFNULL(B.PDT_NAME,'') as pdt_name
 			,IFNULL(B.PDT_STANDARD,'') AS pdt_standard
			,IFNULL(B.QTY,0) as qty
			,IFNULL(B.UNIT,'') as unit
            ,IFNULL(TRUNCATE(B.unit_price,2),0) as unit_price
            ,IFNULL(TRUNCATE(B.SUPPLY_PRICE,0),0) as supply_price
            ,IFNULL(TRUNCATE(B.VAT,0),0) as vat
            ,IFNULL(A.contract_manager_name,'') as contract_manager_name
            ,IFNULL(A.buyer_manager_name,'') as buyer_manager_name
            ,IFNULL(A.post_no,'') as post_no
            ,IFNULL(A.buyer_addr,'') as buyer_addr
			,IFNULL(A.buyer_addr_info,'') as buyer_addr_info
            ,IFNULL(A.buyer_phonenumber,'') as buyer_phonenumber
            ,IFNULL(A.cancel_reason,'') as cancel_reason         
       	 FROM contract A
       	 	inner join contract_detail B on A.contract_code = B.contract_code
      		left outer join CUST C on A.cust_seq = C.cust_seq
         WHERE  A.contract_seq = #{contract_seq}

    </select>    
    
    <select id="getcustSearchListCustName"  parameterType="HashMap" resultType="Map">
    	select 
    		k.NO as no
    		,k.BUSINESS_NO as business_no
    		,IFNULL(k.SUPPLY_NAME,'') as supply_name
    		,IFNULL(k.BOSS_NAME,'') as boss_name
    		,IFNULL(k.TEL,'') as tel
    		,IFNULL(k.FAX,'') as fax
    	from 
    	(
    	select 
    		@ROWNUM:=@ROWNUM+1 AS NO
    		,business_no AS BUSINESS_NO
    		,supply_name AS SUPPLY_NAME
    		,boss_name	AS BOSS_NAME
    		,TEL AS TEL
    		,FAX AS FAX
    	from supply ,(SELECT @ROWNUM:=0) R 
    	where supply_name like ${wQuery}
    	)k	
    	<!-- WHERE k.No  BETWEEN ((#{currentPage}-1) * #{rowperPage}) + 1 AND #{currentPage} * #{rowperPage} -->


    </select>
    
       <update id="contractInfoUpdate" parameterType="HashMap">
      	    UPDATE contract SET
				contract_manager_name = #{contract_manager_name}
        		,contract_status = #{contract_status}
        		,contract_phonenumber = #{contract_phonenumber}
				,post_no = #{post_no}
				,buyer_addr = #{buyer_addr}
        		,buyer_addr_info = #{buyer_addr_info}
        		,buyer_manager_name = #{buyer_manager_name}
        		,buyer_phonenumber = #{buyer_phonenumber}
        		,bigo = #{bigo}
        		,close_date = #{close_date}
      	    	,cust_seq = #{cust_seq}
      	    	,mod_by = #{iManager_seq}
      	    	,mod_date = now()
   			 WHERE
				 contract_seq = #{contract_seq};
    </update>
    
    <update id="contractInfoUpdateCancel" parameterType="HashMap">
      	    UPDATE contract SET
      	    	close_date = #{close_date}
        		,contract_status = #{contract_status}
        		,cancel_reason = IFNULL(#{cancel_reason},'')
				,mod_by = #{iManager_seq}
				,mod_date = now()
   			 WHERE
   				 contract_seq = #{contract_seq};
    </update>
    
</mapper>
