<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mes.app.mapper.supervisor.ManagerSetMenuMapper">
    <select id="Manager_Menu_S1_Str" statementType="CALLABLE" parameterType="HashMap" resultType="Map">
        {  call Manager_Menu_S1_Str (
            #{authGroupSeq},
            #{authGroupName},
            #{useYn},
            #{menuLevel},
            #{menuSeq}
            )
        }
    </select>
<!--     <select id="Manager_Menu_i1_Str" statementType="CALLABLE" parameterType="HashMap" resultType="Map">
        {  call Manager_Menu_i1_Str (
            #{displayYn},
            #{displayOrder},
            #{parentMenuSeq},
            #{menuName},
            #{programUrl},
            #{loginUserSeq}
            )
        }
    </select>
    <select id="Manager_Menu_U1_Str" statementType="CALLABLE" parameterType="HashMap" resultType="Map">
        {  call Manager_Menu_U1_Str (
            #{displayYn},
            #{displayOrder},
            #{parentMenuSeq},
            #{menuSeq},
            #{menuName},
            #{programUrl},
            #{loginUserSeq}
            )
        }
    </select> -->

    
    <select id="Manager_Menu_i1_Str" statementType="CALLABLE" parameterType="HashMap" resultType="String">
        {  call Manager_Menu_i1_Str (
            #{parent_menu_seq},
            #{menu_name},
            #{program_url},
            #{display_yn},
            #{display_order},
            #{loginUserSeq},
            #{depth}
            )
        }
    </select>
    
    <select id="Manager_Menu_U1_Str" statementType="CALLABLE" parameterType="HashMap" resultType="String">
      	{
      		call Manager_Menu_U1_Str(
                #{parent_menu_seq},
      			#{menu_seq},
      			#{display_order},
      			#{menu_name},
      			#{display_yn},
      			#{program_url},
      			#{loginUserSeq},
                #{depth}
      		)
      	}
    </select>
    
    <select id="Manager_Menu_U2_Str" statementType="CALLABLE" parameterType="HashMap" resultType="Map">
        {  call Manager_Menu_U2_Str (
            #{displayOrder},
            #{parentMenuSeq},
            #{menuSeq},
            #{loginUserSeq}
            )
        }
    </select>
    
     
     
     <select id="getManagerMenu_Depth1_List" resultType="Map">
       	SELECT 
       		menu_seq
       		,parent_menu_seq 
			,menu_name 
			,program_url
			,display_yn
			,display_order
			,depth
		FROM manager_menu where depth = 1
    </select>
    
         
     <select id="depthInfo" parameterType="HashMap" resultType="Map">
		SELECT 
       		a.menu_seq
            ,a.parent_menu_seq
       		,IFNULL((select menu_name from manager_menu where menu_seq = a.parent_menu_seq),'')parent_menu_name
			,a.menu_name
			,a.program_url
			,a.display_yn
			,a.display_order
			,a.depth
		FROM manager_menu a where menu_seq = #{menu_seq}
    </select>
             
     <select id="viewDepth" parameterType="HashMap" resultType="Map">
       	SELECT 
       		menu_seq
       		,parent_menu_seq
			,menu_name
			,program_url
			,display_yn
			,display_order
			,depth
		FROM manager_menu where parent_menu_seq = #{menu_seq} order by display_order
    </select>
    
    
</mapper>