<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mes.app.mapper.order.OrderPlanMapper">


    <select id="orderPlanListTotal"  parameterType="HashMap" resultType="int">
       	SELECT
       	 	COUNT(*) 
       	from mes_orderplanMaster A
       	inner join mes_orderplanDetail B on A.ORDERPLAN_SEQ = B.ORDERPLAN_SEQ
       	inner join shop_product C on A.pdt_cd = C.pdt_cd
       	inner join manager_list D on A.regist_by = D.manager_seq
       	WHERE B.no = 1
       		AND A.DELETE_YN = 'N' 
			${sQuery}
			and A.REG_DATE BETWEEN #{startDate} AND #{endDate}

    </select>
   
    
    
   <select id="orderPlanList" parameterType="HashMap" resultType="Map">
		SELECT * FROM (
			SELECT 
				@ROWNUM := @ROWNUM+1 AS no,
  				k.orderPlan_seq AS orderPlan_seq,
  				k.manager_name AS manager_name,
				k.pdt_name AS pdt_name,
				k.pdt_cd AS pdt_cd,
				convert(date_format(k.reg_date, '%Y-%m-%d'), char(10)) as reg_date
			FROM
			    (
					select 					
						A.orderplan_seq AS orderplan_seq,
						IFNULL(D.manager_name, '') AS manager_name,
						IFNULL(C.PDT_NAME,'') AS pdt_name,
	                    A.pdt_cd AS pdt_cd,
	                    A.reg_date AS reg_date
					from mes_orderplanMaster A
					inner join mes_orderplanDetail B on A.ORDERPLAN_SEQ = B.ORDERPLAN_SEQ
					inner join shop_product C on A.pdt_cd = C.pdt_cd
			  		inner join manager_list D on A.REGIST_BY = D.MANAGER_SEQ
					, (SELECT @ROWNUM:=0) R
					where B.no = 1 
						AND A.DELETE_YN = 'N' 
						${sQuery}
						and A.REG_DATE BETWEEN #{startDate} AND #{endDate}
						order by A.orderplan_seq desc
			        ) k
			)sub
			WHERE sub.no  BETWEEN ((#{currentPage}-1) * #{rowsPerPage}) + 1 AND #{currentPage} * #{rowsPerPage}
	
    </select>
    
  
    <select id="getPartListInfo" statementType="CALLABLE" parameterType="HashMap" resultType="Map">
        {  
        	call PartList_S1_Str (#{pdt_cd})
        }
    </select>
    
   <select id="searchCust" statementType="CALLABLE" parameterType="HashMap" resultType="Map">
        {  
        	call SearchCust_S1_Str (#{searchMsg})
        }
    </select>
    
    
    <select id="writeOrderPlan" statementType="CALLABLE" parameterType="HashMap" resultType="int">
        {  
        	call OrderPlan_I1_Str 
        	(
	        	#{reg_date}, 
	        	#{supply_amount},
	        	#{tax_amount},
	        	#{total_amount},
	        	#{product_cd},
	        	#{bigo},
	        	#{productQty},
	        	#{iManagerSeq}
        	)
        }
    </select>
    
    <select id="writeOrderPlanDetail" statementType="CALLABLE" parameterType="HashMap">
        {  
        	call OrderPlanDetail_I1_Str
        	(
	        	#{orderPlan_seq},
	        	#{seq},
        	    #{pdt_cd},
	        	#{pdt_code},
	        	#{pdt_name}, 
	        	#{pdt_standard}, 
	        	#{qty}, 
	        	#{unit}, 
	        	#{unit_price}, 
	        	#{supply_price}, 
	        	#{vat}, 
	        	#{cnt},
	        	#{custSeq}
        	)
        }
    </select>
    
	<select id="getOrderPlanInfo"  parameterType="HashMap" resultType="Map">

      	SELECT
      		A.orderPlan_seq as orderPlan_seq
            ,convert(date_format(A.reg_date, '%Y-%m-%d'), char(10)) as reg_date
           	,IFNULL(TRUNCATE(A.TOTAL_AMOUNT,0),0) as total_amount
           	,IFNULL(TRUNCATE(A.SUPPLY_AMOUNT ,0),0)as supply_amount
            ,IFNULL(TRUNCATE(A.TAX_AMOUNT,0),0) as tax_amount
            ,IFNULL(D.manager_name,'') as manager_name
            ,IFNULL(A.bigo ,'') as bigo
            ,IFNULL(A.PDT_CD,'') as product_cd
			,IFNULL(C.pdt_code,'') as product_code
            ,IFNULL(C.pdt_name,'') as product_name
			,IFNULL(C.pdt_standard,'') as product_standard
            ,IFNULL(A.productQty,0) as productQty
			,IFNULL(B.NO,'')   as no
       	 	,IFNULL(B.PDT_CD,'') as pdt_cd
       	 	,IFNULL(B.PDT_CODE,'') as pdt_code
 			,IFNULL(B.PDT_NAME,'') as pdt_name
 			,IFNULL(B.PDT_STANDARD,'') AS pdt_standard
			,IFNULL(B.QTY,0) as qty
			,IFNULL(B.UNIT,'') as unit
			,IFNULL(B.CUST_SEQ,'') as custSeq
			,IFNULL(F.CUST_NAME,'') as custName
			,IFNULL(B.CNT, 0) as cnt
            ,IFNULL(TRUNCATE(B.unit_price,2),0) as unit_price
            ,IFNULL(TRUNCATE(B.SUPPLY_PRICE,0),0) as supply_price
            ,IFNULL(TRUNCATE(B.VAT,0),0) as vat
 			,IFNULL(C.PDT_STOCK,0) AS pdt_stock
 			,IFNULL(C.PDT_INVENTORY_MIN,0) AS safety_stock           
       	 FROM mes_orderplanmaster A 
			 inner join mes_orderplandetail B on A.orderPlan_seq = B.orderPlan_seq
			 inner join shop_product C on A.pdt_cd = C.pdt_cd
			 inner join manager_list D on A.regist_by = D.manager_seq
			 left outer join cust F on B.cust_seq = F.cust_seq
         WHERE  A.orderPlan_seq = #{orderPlan_seq}
         		AND A.DELETE_YN = 'N' 

    </select>
    

    
    <select id="editOrderPlan" statementType="CALLABLE" parameterType="HashMap">
	    {
	    	call OrderPlan_Update_U1_Str
	    	(
	    		#{orderPlan_seq},
	        	#{supply_amount},
	        	#{tax_amount},
	        	#{total_amount}, 
	        	#{product_cd},
	        	#{bigo},
	        	#{productQty},
	        	#{iManagerSeq}
        	
	    	)
	    }

	</select>
	
	<select id="editOrderPlanDetail" statementType="CALLABLE" parameterType="HashMap">
	    {
	    	call OrderPlanDetail_Update_U1_Str
	    	(
	        	#{orderPlan_seq},
	        	#{seq},
				#{pdt_cd},
				#{pdt_code},
	        	#{pdt_name}, 
	        	#{pdt_standard}, 
	        	#{qty}, 
	        	#{unit}, 
	        	#{unit_price}, 
	        	#{supply_price}, 
	        	#{vat}, 
	        	#{cnt},
	        	#{custSeq}
			)
			
	    }  	     
    </select>
    
    <select id="Material_Search_S2_Str" statementType="CALLABLE" parameterType="HashMap" resultType="Map">
        select

			U.no as no,
			U.PDT_CD AS PDT_CD,
			U.PROD_CD AS PROD_CD,
			U.PROD_DES AS PROD_DES,
			U.PROD_TYPE as PROD_TYPE,
			U.SIZE_DES as SIZE_DES,
            U.CAT_CD as CAT_CD,
			U.REMARKS_WIN as REMARKS_WIN,
			U.USE_YN as USE_YN
		from
				(SELECT
					(@ROWNUM:=@ROWNUM+1) as no,
                    A.PDT_CD AS PDT_CD,
					A.CODE AS PROD_CD,
					A.PDT_NAME AS PROD_DES,
					A.PROD_TYPE AS PROD_TYPE,
					A.PDT_STANDARD AS SIZE_DES,
					concat(D.BYCAT_CD,A.DIVISION_SEQ) AS CAT_CD,
					A.REMARKS_WIN AS REMARKS_WIN,
					A.USE_YN AS USE_YN
				FROM (SELECT @ROWNUM:=0) R,(SELECT C.* FROM shop_product C LEFT JOIN (SELECT B.PDT_CD FROM mes_partlist B GROUP BY pdt_cd) E ON C.pdt_cd = E.pdt_cd WHERE E.pdt_cd IS NOT NULL) A
                  	inner join shop_bycategory D
                    on A.pdt_cd = D.BYPDT_CD
        		where 
					${sQuery}	
					order by A.CODE ASC			
		        ) U
		WHERE
			 U.no  BETWEEN ((#{currentPage}-1) * #{rowsPerPage}) + 1 AND #{currentPage} * #{rowsPerPage}
    </select>
    
    <select id="materialTotal"  parameterType="HashMap" resultType="int">
		SELECT
       	 	COUNT(*) 
       	from (SELECT C.* FROM shop_prod C LEFT JOIN (SELECT B.CODE FROM partlist B GROUP BY CODE) E ON C.CODE = E.CODE WHERE E.CODE IS NOT NULL) A
          inner join shop_bycategory D
             on A.code = D.BYPDT_CD 
       	WHERE ${sQuery}
    </select>	
    
    <select id="createOrder" statementType="CALLABLE" parameterType="HashMap">
        {  
        	call OrderPlan_CreateOrder_I1_Str 
        	(
	        	#{orderPlan_seq}, #{iManagerSeq}
        	)
        }
    </select>
    
    <select id="createOrderMulti" statementType="CALLABLE" parameterType="HashMap">
        {  
        	call OrderPlan_CreateOrder_I2_Str 
        	(
	        	#{orderPlan_seq}, #{iManagerSeq}
        	)
        }
    </select>
    
    
   <select id="delete" statementType="CALLABLE" parameterType="HashMap">
        {  
        	call OrderPlan_D1_Str 
        	(
	        	#{orderPlan_seq},#{iManagerSeq}
        	)
        }
    </select>
    
</mapper>
