<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mes.app.mapper.pallet.PalletMapper">
    <select id="Pallet_Search_S1_Str" statementType="CALLABLE" parameterType="HashMap" resultType="Map">
        {  call Pallet_Search_S1_Str (
            #{REMARKS_WIN},
            #{pallet_status},
            #{currentPage},
            #{rowsPerPage}
            )
        }
    </select>
    <select id="Pallet_Num_S1_Str" statementType="CALLABLE" resultType="Map">
        {  call Pallet_Num_S1_Str ()
        }
    </select>
    <insert id="Pallet_Create_I1_Str" statementType="CALLABLE" parameterType="HashMap">
    {call Pallet_Create_I1_Str(
     		#{pallet_data},
            #{pallet_num})
     
    }</insert>
    <select id="Pallet_Box_S1_Str" statementType="CALLABLE" parameterType="HashMap" resultType="Map">
        { call Pallet_Box_S1_Str (
        #{pallet_num})
        
        }
    </select>
    
</mapper>
